In [2]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
ggpdir=os.path.dirname(grandparentdir)

sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)
sys.path.insert(0, ggpdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing'

In [3]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [4]:
df_gdp_hist = pd.read_csv(ggpdir+'/Socioeconomic/gdp_mmm_usd/input_to_sisepuede/historical/gdp_mmm_usd.csv')
df_gdp_proj = pd.read_csv(ggpdir+'/Socioeconomic/gdp_mmm_usd/input_to_sisepuede/projected/gdp_mmm_usd.csv')

nation_gdp = sorted(set(df_gdp_proj['Nation'].values))

years_all = range(min(df_gdp_hist['Year'].values),max(df_gdp_proj['Year'].values)+1)
c_y_gdp = []
for c in nation_gdp:
    for y in years_all:
    
        try:
            gdp = df_gdp_hist.loc[(df_gdp_hist['Nation']==c) & (df_gdp_hist['Year']==y),]['gdp_mmm_usd'].values[0]
            
        except:
            gdp = df_gdp_proj.loc[(df_gdp_proj['Nation']==c) & (df_gdp_proj['Year']==y)]['gdp_mmm_usd'].values[0]
            
        c_y_gdp.append([c,y,gdp])

df_gdp_all = pd.DataFrame(c_y_gdp,columns=['Nation', 'Year', 'gdp_mmm_usd'])
df_gdp_all

           Nation  Year  gdp_mmm_usd
0     Afghanistan  2010    32.652969
1     Afghanistan  2011    35.369178
2     Afghanistan  2012    38.085386
3     Afghanistan  2013    40.801594
4     Afghanistan  2014    43.517802
...           ...   ...          ...
7498     Zimbabwe  2046    24.382002
7499     Zimbabwe  2047    26.002852
7500     Zimbabwe  2048    27.623703
7501     Zimbabwe  2049    29.244553
7502     Zimbabwe  2050    30.865404

[7503 rows x 3 columns]

In [5]:
#Rural population
df_popru_hist = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_rural/input_to_sisepuede/historical/population_gnrl_rural.csv')
df_popru_proj = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_rural/input_to_sisepuede/projected/population_gnrl_rural.csv')

#Urban population
df_popur_hist = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_urban/input_to_sisepuede/historical/population_gnrl_urban.csv')
df_popur_proj = pd.read_csv(ggpdir+
        '/Socioeconomic/population_gnrl_urban/input_to_sisepuede/projected/population_gnrl_urban.csv')

nation_pop = sorted(set(df_popur_proj['Nation'].values))

years_all = range(min(df_popur_hist['Year'].values),max(df_popur_proj['Year'].values)+1)
c_y_pop = []
for c in nation_pop:
    for y in years_all:
    
        try:
            pop_ur = df_popur_hist.loc[(df_popur_hist['Nation']==c) &
                                       (df_popur_hist['Year']==y),]['population_gnrl_urban'].values[0]
            pop_ru = df_popru_hist.loc[(df_popru_hist['Nation']==c) &
                                       (df_popru_hist['Year']==y),]['population_gnrl_rural'].values[0]
            
        except:
            pop_ur = df_popur_proj.loc[(df_popur_proj['Nation']==c) &
                                       (df_popur_proj['Year']==y),]['population_gnrl_urban'].values[0]
            pop_ru = df_popru_proj.loc[(df_popru_proj['Nation']==c) &
                                       (df_popru_proj['Year']==y),]['population_gnrl_rural'].values[0]
            
        c_y_pop.append([c,y,pop_ur,pop_ru])

df_pop_all = pd.DataFrame(c_y_pop,columns=['Nation', 'Year', 'population_gnrl_urban','population_gnrl_rural'])
df_pop_all

           Nation  Year  population_gnrl_urban  population_gnrl_rural
0     Afghanistan  2011           7.212518e+06           2.290489e+07
1     Afghanistan  2012           7.528589e+06           2.363279e+07
2     Afghanistan  2013           7.865068e+06           2.440452e+07
3     Afghanistan  2014           8.204880e+06           2.516592e+07
4     Afghanistan  2015           8.535606e+06           2.587800e+07
...           ...   ...                    ...                    ...
7275     Zimbabwe  2046           5.352032e+06           7.863317e+06
7276     Zimbabwe  2047           5.384492e+06           7.807897e+06
7277     Zimbabwe  2048           5.416953e+06           7.752477e+06
7278     Zimbabwe  2049           5.449414e+06           7.697057e+06
7279     Zimbabwe  2050           5.481874e+06           7.641637e+06

[7280 rows x 4 columns]

In [6]:
nation_pop_gdp = sorted(set(nation_pop).intersection(set(nation_gdp)))
years_all = range(min(df_popur_hist['Year'].values),max(df_popur_proj['Year'].values)+1)
c_y_pop_gdp = []
for c in nation_pop_gdp:
    for y in years_all:
        pop_ur = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_urban'].values[0]
        
        pop_ru = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_rural'].values[0]
        
        gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c) & (df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
        
        c_y_pop_gdp.append([c,y,pop_ur,pop_ru,gdp])
df_pop_gdp_all = pd.DataFrame(c_y_pop_gdp,columns=['Nation', 'Year',
                                                   'population_gnrl_urban',
                                                   'population_gnrl_rural',
                                                   'gdp_mmm_usd'])
df_pop_gdp_all

,Nation,Year,population_gnrl_urban,population_gnrl_rural,gdp_mmm_usd
0,Afghanistan,2011,7.212518e+06,2.290489e+07,35.369178
1,Afghanistan,2012,7.528589e+06,2.363279e+07,38.085386
2,Afghanistan,2013,7.865068e+06,2.440452e+07,40.801594
3,Afghanistan,2014,8.204880e+06,2.516592e+07,43.517802
4,Afghanistan,2015,8.535606e+06,2.587800e+07,46.234010
...,...,...,...,...,...
7275,Zimbabwe,2046,5.352032e+06,7.863317e+06,24.382002
7276,Zimbabwe,2047,5.384492e+06,7.807897e+06,26.002852
7277,Zimbabwe,2048,5.416953e+06,7.752477e+06,27.623703
7278,Zimbabwe,2049,5.449414e+06,7.697057e+06,29.244553
7279,Zimbabwe,2050,5.481874e+06,7.641637e+06,30.865404

In [7]:
#df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei=pd.read_csv("../row_data/IEA_Energy_Industry.csv")

df_eei

,COUNTRY,ENDUSE,PRODUCT/FLOW,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Australia,Manufacturing [ISIC 10-18; 20-32],Oil and oil products (PJ) ...,117.58,91.59,88.38,111.41,122.11,129.29,133.41,...,161.91,179.86,155.11,155.37,118.72,106.86,97.51,101.08,100.39,97.74
1,Australia,Manufacturing [ISIC 10-18; 20-32],Gas (PJ) ...,314.61,339.39,338.58,343.29,352.22,325.43,322.22,...,330.12,325.92,339.72,346.59,334.74,322.67,309.67,311.85,298.23,303.55
2,Australia,Manufacturing [ISIC 10-18; 20-32],Coal and coal products (PJ) ...,231.33,201.89,178.75,209.41,223.34,226.59,225.07,...,230.37,191.49,184.76,177.97,170.35,197.53,208.32,205.26,196.51,190.24
3,Australia,Manufacturing [ISIC 10-18; 20-32],Biofuels and waste (PJ) ...,96.47,94.43,99.89,101.47,104.3,109.06,110.25,...,104.6,104.29,112.36,105.27,115.61,115.49,124.1,112.09,103.36,98.69
4,Australia,Manufacturing [ISIC 10-18; 20-32],Heat (PJ) ...,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755,Uzbekistan,Construction [ISIC 41-43],Biofuels and waste (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0,0,..,..,..
9756,Uzbekistan,Construction [ISIC 41-43],Heat (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0,0,..,..,..
9757,Uzbekistan,Construction [ISIC 41-43],Electricity (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0.51,0.42,0.28,0.46,..,..,..
9758,Uzbekistan,Construction [ISIC 41-43],Other sources (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,0,0,0.01,0,..,..,..
9759,Uzbekistan,Construction [ISIC 41-43],Total final energy use (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,6.85,6.54,6.23,9.44,..,..,..

In [8]:
#Cross Walk with IEA data:
industries_correspondence = {
  'electronics' : (0.5, 'Machinery [ISIC 25-28]'), #Electronics is ISIC 26 and 27, so let's say half of 25-28
  'plastic' : (0.5, 'Rubber and plastic [ISIC 22]'), # SEE BELOW
  'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), #OK
  'cement' : (0.9, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'glass' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'other_product_manufacturing' : (0.7, 'Manufacturing [ISIC 10-18; 20-32]'), #OK
  'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), #OK
  'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), #SEE BELOW
  'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), #+ AND 0.5  'Rubber and plastic [ISIC 22]'
  'metals' : (1.0, 'Basic metals [ISIC 24]'), #OK
  'lime_and_carbonite' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
  # REMOVE 'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') #I propose we leave this out entirely, unless we are doing all recyclables
}

In [66]:
fraction = 0.7
df_enduse = df_eei.loc[df_eei['ENDUSE']=='Manufacturing [ISIC 10-18; 20-32]']
df_enduse = df_enduse[df_enduse['PRODUCT/FLOW'].str.startswith('Total final energy use (PJ)')]
mask = (df_enduse == '..').any(axis=1)
#df_enduse = df_enduse.drop(index=df_enduse[mask].index)
df_enduse

,COUNTRY,ENDUSE,PRODUCT/FLOW,2000,2001,2002,2003,2004,2005,2006,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
7,Australia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,1005.86,994.7,975.1,994.19,1031.43,1024.19,1022.04,...,1069.07,1038.99,1021.85,1012.51,951.74,955.53,942.03,933.8,898.1,884.93
167,Austria,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,299.06,305.01,305.93,313.27,322.37,349.62,353.33,...,368.47,369.06,366.11,361.09,362.52,371.8,373.91,360.23,367.95,351.02
327,Belgium,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,596.29,603.22,548.33,550.74,508.21,497.91,507.49,...,494.37,486.35,504.24,500.89,495.51,506.27,498.05,506.23,491.89,461.54
487,Canada,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,2359.43,2197.19,2257.75,2220.87,2334.03,2274.67,2216.74,...,2002.92,1983.07,2011.25,1999.02,1934.9,1897.65,1930.83,1933.4,1929.56,1786.65
647,Czech Republic,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,458.85,448.94,430.06,437.03,449.85,434.75,441.84,...,343.47,337.68,332.89,324.73,323.84,322.39,334.91,339.81,324.92,325.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8967,Serbia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,90.47,105.69,111.85,124.25,143.07,142.16,149.43,...,109.57,97.3,93.04,80.21,88.73,99.31,104.7,113.3,106.75,90.61
9127,Slovenia,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,54.89,52.68,50.4,60.75,61.86,65.1,66.67,...,49.88,48.55,48.32,49.78,49.55,50.06,52.11,53.08,53,50.18
9287,Chinese Taipei,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,956.16,951.96,1001.01,1025.12,1063.1,1063.7,1108.98,...,1180.24,1157.78,1213.76,1215.98,1179.91,1196.73,1193.69,1217.27,1179.1,..
9447,Uruguay,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,20.92,19.71,18.28,19.36,20.83,22.19,22.28,...,51.29,53.69,56.09,66.62,77.54,81.77,83.17,84.49,84.02,..
9607,Uzbekistan,Manufacturing [ISIC 10-18; 20-32],Total final energy use (PJ) ...,..,..,..,..,..,..,..,...,..,..,..,216.35,217.16,212.49,211.98,..,..,..

In [28]:
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False
nation_pop_gdp_all=sorted(set(df_pop_gdp_all['Nation'].values))
nation_enduse = df_enduse['COUNTRY'].values
nation_pop_gdp_enduse = sorted(set(nation_pop_gdp_all).intersection(set(nation_enduse)))
years_all = range(min(df_pop_gdp_all['Year'].values),2020+1)
c_y_pop_gdp = []
for c in nation_pop_gdp_enduse:
    for y in years_all:
        pop_ur = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_urban'].values[0]
        
        pop_ru = df_pop_all.loc[(df_pop_all['Nation']==c) &
                                       (df_pop_all['Year']==y),]['population_gnrl_rural'].values[0]
        
        gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c) & (df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
        
        end_use = df_enduse.loc[(df_enduse['COUNTRY']==c)][str(y)].values[0]
        
        if is_number(end_use):
            end_use=float(end_use)
            
            c_y_pop_gdp.append([c,y,pop_ur,pop_ru,gdp,end_use])
        
df_pop_gdp_enduse = pd.DataFrame(c_y_pop_gdp,columns=['Nation', 'Year',
                                                   'population_gnrl_urban',
                                                   'population_gnrl_rural',
                                                   'gdp_mmm_usd',
                                                    'end_use_tj'])
df_pop_gdp_enduse

,Nation,Year,population_gnrl_urban,population_gnrl_rural,gdp_mmm_usd,end_use_tj
0,Albania,2011,1.546929e+06,1.358266e+06,21.159910,14.33
1,Albania,2012,1.575788e+06,1.324613e+06,21.865577,10.67
2,Albania,2013,1.603505e+06,1.291587e+06,22.571244,10.63
3,Albania,2014,1.630119e+06,1.258985e+06,23.276911,14.40
4,Albania,2015,1.654503e+06,1.226200e+06,23.982578,11.78
...,...,...,...,...,...,...
511,Uruguay,2019,3.303391e+06,1.583396e+05,53.756413,84.02
512,Uzbekistan,2014,1.564029e+07,1.511741e+07,92.870937,216.35
513,Uzbekistan,2015,1.588419e+07,1.541471e+07,97.456825,217.16
514,Uzbekistan,2016,1.613096e+07,1.571694e+07,102.805785,212.49
515,Uzbekistan,2017,1.637244e+07,1.601616e+07,108.154744,211.98

In [29]:
from sklearn.linear_model import Lasso 
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import normalize

X=df_pop_gdp_enduse[['population_gnrl_urban','population_gnrl_rural','gdp_mmm_usd']]
#X['bias']=1
#X_n = normalize(X)
Y=df_pop_gdp_enduse['end_use_tj']

linear_model = LinearRegression()
linear_model.fit(X,Y)
print(linear_model.coef_)
#print(linear_model.intercept_)

[ 1.46157285e-05 -1.39024910e-05  4.88192936e-01]

In [38]:
X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == 'United States') & 
                            (df_pop_gdp_all['Year']== 2015)][['population_gnrl_urban',
                                                              'population_gnrl_rural',
                                                              'gdp_mmm_usd']]
linear_model.predict(X_test)[0]

10309.350555774217

In [39]:
X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == 'Ecuador') & 
                            (df_pop_gdp_all['Year']== 2015)][['population_gnrl_urban',
                                                              'population_gnrl_rural',
                                                              'gdp_mmm_usd']]
linear_model.predict(X_test)[0]

174.594822420541

In [40]:
X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == 'Mexico') & 
                            (df_pop_gdp_all['Year']== 2015)][['population_gnrl_urban',
                                                              'population_gnrl_rural',
                                                              'gdp_mmm_usd']]
linear_model.predict(X_test)[0]

2017.8870874939362

In [55]:
years_hist=range(min(df_pop_gdp_enduse['Year'].values),max(df_pop_gdp_enduse['Year'].values)+1)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values if is_number(val)]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2011: 762.8325,
 2012: 753.1655000000002,
 2013: 752.9415,
 2014: 730.7968852459016,
 2015: 719.7242622950822,
 2016: 713.3313114754096,
 2017: 722.202131147541,
 2018: 737.9643333333333,
 2019: 725.0861666666666,
 2020: 733.3707843137254}

In [42]:
set(df_country_continent['continent'])

{'Africa', 'Americas', 'Asia', 'Europe', 'Oceania', nan}

In [56]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_sr_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])


for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            end_use=df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]
            if is_number(end_use):
                mean_array.append(float(end_use))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_sr_meanEEI.loc[(df_sr_meanEEI['sub_region']==cont) & 
                          (df_sr_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_sr_meanEEI.dropna(how='any')
df_sr_meanEEI = df_sr_meanEEI.drop(df_sr_meanEEI.index[(df_sr_meanEEI == 0).any(axis=1)])

df_sr_meanEEI

                    sub_region  Year     meanEEI
0    Australia and New Zealand  2011  620.435000
1    Australia and New Zealand  2012  607.460000
2    Australia and New Zealand  2013  601.150000
3    Australia and New Zealand  2014  602.330000
4    Australia and New Zealand  2015  570.770000
..                         ...   ...         ...
215             Western Europe  2016  803.321429
216             Western Europe  2017  809.575714
217             Western Europe  2018  803.250000
218             Western Europe  2019  775.752857
219             Western Europe  2020  732.948571

[129 rows x 3 columns]

In [57]:
continents = ['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']
coun_year=[]
for cont in continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_cont_meanEEI = pd.DataFrame(coun_year, columns=['continent', 'Year','meanEEI'])


for year in years_hist:
    for cont in continents:
        set1 = set(df_country_continent.loc[df_country_continent['continent']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            end_use=df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]
            if is_number(end_use):
                mean_array.append(float(end_use))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_cont_meanEEI.loc[(df_cont_meanEEI['continent']==cont) & 
                          (df_cont_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_cont_meanEEI.dropna(how='any')
df_cont_meanEEI = df_cont_meanEEI.drop(df_cont_meanEEI.index[(df_cont_meanEEI == 0).any(axis=1)])

df_cont_meanEEI

   continent  Year      meanEEI
0     Africa  2011   516.405000
1     Africa  2012   518.575000
2     Africa  2013   551.250000
3     Africa  2014   553.005000
4     Africa  2015   516.560000
5     Africa  2016   511.460000
6     Africa  2017   500.680000
7     Africa  2018   507.455000
8     Africa  2019   486.255000
9     Africa  2020    93.860000
10  Americas  2011  2314.116250
11  Americas  2012  2295.595000
12  Americas  2013  2306.511250
13  Americas  2014  2270.523750
14  Americas  2015  2278.673750
15  Americas  2016  2246.928750
16  Americas  2017  2261.331250
17  Americas  2018  2289.306250
18  Americas  2019  2291.607500
19  Americas  2020  3352.832000
20      Asia  2011   824.764286
21      Asia  2012   812.572857
22      Asia  2013   833.401429
23      Asia  2014   715.613750
24      Asia  2015   667.922500
25      Asia  2016   651.188750
26      Asia  2017   653.666250
27      Asia  2018   715.407143
28      Asia  2019   684.702857
29      Asia  2020   775.220000
30    Europe  2011   408.034063
31    Europe  2012   396.624375
32    Europe  2013   387.187812
33    Europe  2014   376.765625
34    Europe  2015   372.016875
35    Europe  2016   374.032500
36    Europe  2017   379.290000
37    Europe  2018   383.332813
38    Europe  2019   373.886250
39    Europe  2020   347.748333
40   Oceania  2011   620.435000
41   Oceania  2012   607.460000
42   Oceania  2013   601.150000
43   Oceania  2014   602.330000
44   Oceania  2015   570.770000
45   Oceania  2016   573.010000
46   Oceania  2017   565.910000
47   Oceania  2018   560.575000
48   Oceania  2019   549.390000
49   Oceania  2020   533.825000

In [45]:
#### HISTORICAL ######
countries = sorted(set(df_pop_gdp_all['Nation'].values))
coun_year=[]
for count in countries:
    iso3 = df_gdp_hist.loc[df_gdp_hist['Nation']==count]['iso_code3'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Afghanistan,AFG,2011,0
1,Afghanistan,AFG,2012,0
2,Afghanistan,AFG,2013,0
3,Afghanistan,AFG,2014,0
4,Afghanistan,AFG,2015,0
...,...,...,...,...
1815,Zimbabwe,ZWE,2016,0
1816,Zimbabwe,ZWE,2017,0
1817,Zimbabwe,ZWE,2018,0
1818,Zimbabwe,ZWE,2019,0
1819,Zimbabwe,ZWE,2020,0

In [46]:
# for c,y in zip(df_historical_out['Nation'].values,df_historical_out['Year'].values):
    
#     gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c)&(df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
    
#     if c in df_enduse['COUNTRY'].values:
        
#         tj= float(df_enduse.loc[(df_enduse['COUNTRY']==c)][str(y)].values[0])*1e3

#         dato=tj/gdp
#         df_historical_out.loc[(df_historical_out['Nation'] == c) & 
#                         (df_historical_out['Year']== y), var_name] = dato*fraction
        
#     else:
#         try:
#             cont = df_country_continent.loc[df_country_continent['country']== c]['sub_region'].values[0]
#             tj = df_sr_meanEEI.loc[(df_sr_meanEEI['sub_region'] == cont) & 
#                             (df_sr_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
#         except:
#             try:
#                 cont = df_country_continent.loc[df_country_continent['country']== c]['continent'].values[0]
#                 tj = df_cont_meanEEI.loc[(df_cont_meanEEI['continent'] == cont) & 
#                             (df_cont_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
#             except:
#                 tj=golbal_mean[y]*1e3
            
#         dato=tj/gdp
        
#         df_historical_out.loc[(df_historical_out['Nation'] == c) & 
#                         (df_historical_out['Year']== y), var_name] = dato*fraction
# df_historical_out

In [58]:
count_year_tj = []

for c,y in zip(df_historical_out['Nation'].values,df_historical_out['Year'].values):
    
    gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c)&(df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
    
    if (c,y) in zip(df_pop_gdp_enduse['Nation'].values,df_pop_gdp_enduse['Year'].values):
        
        #tj= float(df_enduse.loc[(df_enduse['COUNTRY']==c)][str(y)].values[0])*1e3
        
        tj=df_pop_gdp_enduse.loc[(df_pop_gdp_enduse['Nation'] == c) & 
                        (df_pop_gdp_enduse['Year']== y), 'end_use_tj'].values[0]*1e3

        dato=tj/gdp
        df_historical_out.loc[(df_historical_out['Nation'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
        
    else:
        X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == c) & 
                            (df_pop_gdp_all['Year']== y)][['population_gnrl_urban',
                                                              'population_gnrl_rural',
                                                              'gdp_mmm_usd']]
        tj =linear_model.predict(X_test)[0]*1e3
            
        if tj>0:
            dato=tj/gdp
        else:
            dato=0
            tj=0
        
        df_historical_out.loc[(df_historical_out['Nation'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
        
    count_year_tj.append([c,y,tj])

df_end_use_complete = pd.DataFrame(count_year_tj, columns=['Nation', 'Year','end_use(tj)'])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Afghanistan,AFG,2011,0.0
1,Afghanistan,AFG,2012,0.0
2,Afghanistan,AFG,2013,0.0
3,Afghanistan,AFG,2014,0.0
4,Afghanistan,AFG,2015,0.0
...,...,...,...,...
1815,Zimbabwe,ZWE,2016,0.0
1816,Zimbabwe,ZWE,2017,0.0
1817,Zimbabwe,ZWE,2018,0.0
1818,Zimbabwe,ZWE,2019,0.0
1819,Zimbabwe,ZWE,2020,0.0

In [61]:
df_end_use_complete[(df_historical_out['Nation'] == 'Mexico')]

      Nation  Year  end_use(tj)
1060  Mexico  2011    1439790.0
1061  Mexico  2012    1443800.0
1062  Mexico  2013    1490210.0
1063  Mexico  2014    1387220.0
1064  Mexico  2015    1479820.0
1065  Mexico  2016    1470020.0
1066  Mexico  2017    1558430.0
1067  Mexico  2018    1538300.0
1068  Mexico  2019    1422270.0
1069  Mexico  2020    1196380.0

In [68]:
df_pop_gdp_enduse[(df_pop_gdp_enduse['Nation'] == 'Mexico')]

,Nation,Year,population_gnrl_urban,population_gnrl_rural,gdp_mmm_usd,end_use_tj
325,Mexico,2011,9.037089e+07,2.532458e+07,1555.553669,1439.79
326,Mexico,2012,9.194880e+07,2.532535e+07,1631.077277,1443.80
327,Mexico,2013,9.351579e+07,2.531137e+07,1706.600886,1490.21
328,Mexico,2014,9.507213e+07,2.528300e+07,1782.124494,1387.22
329,Mexico,2015,9.661531e+07,2.524294e+07,1857.648102,1479.82
330,Mexico,2016,9.814500e+07,2.518838e+07,1869.808208,1470.02
331,Mexico,2017,9.965591e+07,2.512142e+07,1881.968314,1558.43
332,Mexico,2018,1.011495e+08,2.504130e+07,1894.128421,1538.30
333,Mexico,2019,1.026269e+08,2.494867e+07,1906.288527,1422.27
334,Mexico,2020,1.040887e+08,2.484405e+07,1918.448633,1196.38

In [53]:
df_historical_out[(df_historical_out['Nation'] == 'Ecuador')]

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
480,Ecuador,ECU,2011,1066.503104
481,Ecuador,ECU,2012,1060.588803
482,Ecuador,ECU,2013,1055.118220
483,Ecuador,ECU,2014,1050.236257
484,Ecuador,ECU,2015,1046.090127
485,Ecuador,ECU,2016,1059.122980
486,Ecuador,ECU,2017,1072.755869
487,Ecuador,ECU,2018,1087.177412
488,Ecuador,ECU,2019,1102.010562
489,Ecuador,ECU,2020,1117.029945

In [54]:
df_historical_out[(df_historical_out['Nation'] == 'United States')]

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
1720,United States,USA,2011,542.712655
1721,United States,USA,2012,521.766056
1722,United States,USA,2013,507.763551
1723,United States,USA,2014,487.654302
1724,United States,USA,2015,483.084994
1725,United States,USA,2016,466.504910
1726,United States,USA,2017,456.671871
1727,United States,USA,2018,465.517561
1728,United States,USA,2019,467.872648
1729,United States,USA,2020,440.314613

In [51]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

coun_year=[]
for count in countries:
    iso3 = df_gdp_hist.loc[df_gdp_hist['Nation']==count]['iso_code3'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Afghanistan,AFG,2021,0
1,Afghanistan,AFG,2022,0
2,Afghanistan,AFG,2023,0
3,Afghanistan,AFG,2024,0
4,Afghanistan,AFG,2025,0
...,...,...,...,...
5455,Zimbabwe,ZWE,2046,0
5456,Zimbabwe,ZWE,2047,0
5457,Zimbabwe,ZWE,2048,0
5458,Zimbabwe,ZWE,2049,0
5459,Zimbabwe,ZWE,2050,0

In [101]:
# y_hist_max = max(years_hist)
# for c,y in zip(df_projected_out['Nation'].values,df_projected_out['Year'].values):
    
#     gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c)&(df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
    
#     if c in df_enduse['COUNTRY'].values:
        
#         tj= float(df_enduse.loc[(df_enduse['COUNTRY']==c)][str(2016)].values[0])*1e3

#         dato=tj/gdp
        
#         df_projected_out.loc[(df_projected_out['Nation'] == c) & 
#                         (df_projected_out['Year']== y), var_name] = dato*fraction
        
#     else:
#         try:
#             cont = df_country_continent.loc[df_country_continent['country']== c]['sub_region'].values[0]
#             tj = df_sr_meanEEI.loc[(df_sr_meanEEI['sub_region'] == cont) & 
#                             (df_sr_meanEEI['Year']== 2016), 'meanEEI'].values[0]*1e3
            
#         except:
#             try:
#                 cont = df_country_continent.loc[df_country_continent['country']== c]['continent'].values[0]
#                 tj = df_cont_meanEEI.loc[(df_cont_meanEEI['continent'] == cont) & 
#                             (df_cont_meanEEI['Year']== 2016), 'meanEEI'].values[0]*1e3
#             except:
#                 tj=golbal_mean[2016]*1e3
            
#         dato=tj/gdp
        
#         df_projected_out.loc[(df_projected_out['Nation'] == c) & 
#                         (df_projected_out['Year']== y), var_name] = dato*fraction
# df_projected_out

In [71]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['Nation'].values,df_projected_out['Year'].values):
    
    gdp = df_gdp_all.loc[(df_gdp_all['Nation']==c)&(df_gdp_all['Year']==y)]['gdp_mmm_usd'].values[0]
    
    if c in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==c)][str(2016)].values[0])*1e3

        dato=tj/gdp
        
        df_projected_out.loc[(df_projected_out['Nation'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
        
    else:
        X_test = df_pop_gdp_all.loc[(df_pop_gdp_all['Nation'] == c) & 
                            (df_pop_gdp_all['Year']== y)][['population_gnrl_urban',
                                                              'population_gnrl_rural',
                                                              'gdp_mmm_usd']]
        tj =linear_model.predict(X_test)[0]*1e3
            
        if tj>0:
            dato=tj/gdp
        else:
            dato=0
        
        df_projected_out.loc[(df_projected_out['Nation'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_mmm_gdp_other_product_manufacturing
0,Afghanistan,AFG,2021,0.000000
1,Afghanistan,AFG,2022,0.000000
2,Afghanistan,AFG,2023,0.000000
3,Afghanistan,AFG,2024,0.000000
4,Afghanistan,AFG,2025,0.000000
...,...,...,...,...
5455,Zimbabwe,ZWE,2046,879.670415
5456,Zimbabwe,ZWE,2047,879.652126
5457,Zimbabwe,ZWE,2048,879.635983
5458,Zimbabwe,ZWE,2049,879.621630
5459,Zimbabwe,ZWE,2050,879.608784

In [70]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')
df_end_use_complete.to_csv('../row_data/end_use_complete.csv')

In [112]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')

In [108]:
hist_val=df_historical_out.loc[(df_historical_out['Nation']=='Mexico')
                               &(df_historical_out['Year']==2015)][var_name].values[0]

gdp_val_mex=df_gdp_all.loc[(df_gdp_all['Nation']=='Mexico')&(df_gdp_all['Year']==2015)]['gdp_mmm_usd'].values[0]

iea_val =df_enduse.loc[(df_enduse['COUNTRY']=='Mexico')]['2015'].values[0]

print(hist_val*gdp_val_mex/1000,float(iea_val)*fraction)

1035.874 1035.8739999999998