In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_cement'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [3]:
IPPU_folder = 'prodinit_ippu_cement_tonne'
IPPU_var = 'prodinit_ippu_cement_tonne'
df_ippu_hist = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/historical/'+IPPU_var+'.csv')
df_ippu_proj = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/projected/'+IPPU_var+'.csv')

code_ippu = list(set(df_ippu_proj['location_code'].values))

years_all = range(min(df_ippu_hist['year'].values),max(df_ippu_proj['year'].values)+1)
c_y_ippu = []
for c in code_ippu:
    for y in years_all:
    
        try:
            ippu = df_ippu_hist.loc[(df_ippu_hist['location_code']==c) & (df_ippu_hist['year']==y),][IPPU_var].values[0]
            
        except:
            ippu = df_ippu_proj.loc[(df_ippu_proj['location_code']==c) & (df_ippu_proj['year']==y)][IPPU_var].values[0]
            
        c_y_ippu.append([c,y,ippu])

df_ippu_all = pd.DataFrame(c_y_ippu,columns=['iso_code3', 'Year', IPPU_var])
df_ippu_all

     iso_code3  Year  prodinit_ippu_cement_tonne
0          IND  2010                4.605179e+07
1          IND  2011                5.159428e+07
2          IND  2012                4.501940e+07
3          IND  2013                4.907512e+07
4          IND  2014                6.284224e+07
...        ...   ...                         ...
7826       IRL  2046                8.813408e+06
7827       IRL  2047                8.839367e+06
7828       IRL  2048                8.865402e+06
7829       IRL  2049                8.891514e+06
7830       IRL  2050                8.917703e+06

[7831 rows x 3 columns]

In [4]:
df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Oil and oil products (PJ),"Manufacturing [ISIC 10-18, 20-32]",130.43,106.35,104.18,106.50,118.77,125.35,127.31,128.88,136.56,129.94,136.44,165.71,185.91,158.38,160.02,121.34,106.70
1,Australia,Oil and oil products (PJ),Food and tobacco [ISIC 10-12],5.89,6.00,2.38,2.66,2.75,2.76,2.90,2.99,2.90,5.52,5.04,5.84,6.37,5.89,5.96,5.18,5.04
2,Australia,Oil and oil products (PJ),Textiles and leather [ISIC 13-15],0.48,0.48,0.48,0.48,0.38,0.95,0.95,0.98,0.95,0.77,0.75,0.76,0.75,0.94,0.95,0.77,0.76
3,Australia,Oil and oil products (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Australia,Oil and oil products (PJ),Paper pulp and printing [ISIC 17-18],2.56,2.95,1.74,0.64,0.68,0.77,0.82,0.73,0.64,0.49,0.48,0.47,0.67,2.32,2.37,2.57,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,Ukraine,Steel production (10^6 t),Memo: Coke and refined petroleum products [ISI...,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12470,Ukraine,Steel production (10^6 t),"Agriculture, forestry and fishing [ISIC 01-03]",x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12471,Ukraine,Steel production (10^6 t),Mining [ISIC 05-09],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12472,Ukraine,Steel production (10^6 t),Construction [ISIC 41-43],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12473,Ukraine,Steel production (10^6 t),General activity data,31.77,33.11,34.05,36.93,38.74,38.64,40.89,42.83,37.28,29.86,33.43,35.33,32.98,32.77,27.17,22.97,24.22

In [5]:
#Cross Walk with IEA data:
industries_correspondence = {
                'electronics' : (1.0, 'Machinery [ISIC 25-28]'), 
                'plastic' : (1.0, 'Rubber and plastic [ISIC 22]'), 
                'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), 
                'cement' : (1.0, 'Of which: cement'),
                'glass' : (1.0, 'Non-metallic minerals [ISIC 23]'), 
                'other_product_manufacturing' : (1.0, 'Other manufacturing [ISIC 31-32]'), 
                'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), 
                'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'metals' : (1.0, 'Basic metals [ISIC 24]'),  
                'lime_and_carbonite' : (1.0, 'Non-ferrous metals [ISIC 2420+2432]'), 
                'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
                'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') 
                }

In [6]:
df_enduse = df_eei.loc[(df_eei['PRODUCT/FLOW']=='Total final energy (PJ)') & 
                       (df_eei['ENDUSE']=='Of which: cement')]
df_enduse

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
155,Australia,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
533,Austria,Total final energy (PJ),Of which: cement,0.00,0.00,12.66,13.34,13.73,13.60,15.49,16.30,17.08,15.03,13.53,13.42,13.68,13.64,13.92,14.22,14.86
911,Belgium,Total final energy (PJ),Of which: cement,29.79,28.81,27.80,24.91,25.20,26.79,27.73,26.53,26.77,18.06,20.35,18.19,22.58,20.45,20.70,19.88,0.00
1289,Canada,Total final energy (PJ),Of which: cement,63.65,60.93,64.68,65.03,67.29,68.25,72.33,64.63,62.56,59.44,57.13,55.56,54.33,52.30,54.36,53.92,54.18
1667,Czech Republic,Total final energy (PJ),Of which: cement,0.96,0.90,0.84,0.94,0.96,1.00,1.07,1.19,1.12,0.92,12.47,12.49,11.92,12.13,11.33,11.69,12.40
2045,Denmark,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2423,Finland,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2801,France,Total final energy (PJ),Of which: cement,71.45,73.59,72.46,70.32,73.64,72.92,74.91,78.68,75.47,66.34,68.32,68.66,61.96,60.63,56.94,52.80,52.96
3179,Germany,Total final energy (PJ),Of which: cement,115.43,98.22,89.26,92.80,95.05,82.59,81.91,106.15,97.96,94.24,88.58,97.81,96.37,90.41,91.22,90.30,97.15
3557,Greece,Total final energy (PJ),Of which: cement,40.60,42.81,38.31,34.80,37.72,33.18,31.31,44.82,33.80,26.25,21.14,0.00,0.00,0.00,0.00,0.00,0.00
3935,Hungary,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4313,Ireland,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4691,Italy,Total final energy (PJ),Of which: cement,121.86,121.34,120.68,124.74,124.25,124.77,125.36,134.69,127.27,104.98,100.29,95.81,76.08,68.05,61.53,55.26,52.57
5069,Japan,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5447,Korea,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5825,Luxembourg,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6203,Mexico,Total final energy (PJ),Of which: cement,97.83,93.54,98.85,93.52,121.54,111.86,136.96,149.49,125.21,123.54,102.98,105.22,122.72,116.77,138.49,159.33,164.92
6581,Netherlands,Total final energy (PJ),Of which: cement,9.89,8.11,7.06,6.82,7.34,7.79,7.59,7.10,6.83,6.52,6.31,0.00,0.00,0.00,0.00,0.00,0.00
6959,New Zealand,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7337,Poland,Total final energy (PJ),Of which: cement,62.89,49.28,41.32,40.07,45.89,46.47,45.55,58.03,51.54,47.02,50.40,60.45,51.37,46.01,50.95,53.90,55.88
7715,Portugal,Total final energy (PJ),Of which: cement,35.08,34.93,40.45,36.54,36.73,38.64,36.78,36.80,33.36,26.98,29.56,25.79,22.63,20.78,23.45,21.44,16.99
8093,Slovak Republic,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8471,Spain,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8849,Sweden,Total final energy (PJ),Of which: cement,10.22,8.92,8.45,8.19,8.85,10.56,9.66,9.31,9.92,8.40,9.52,10.04,10.21,8.90,9.08,9.69,9.90
9227,Switzerland,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9605,Turkey,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9983,United Kingdom,Total final energy (PJ),Of which: cement,58.76,55.69,54.10,56.36,51.88,51.46,50.93,48.14,46.99,44.54,45.55,45.02,46.09,51.18,48.66,44.00,38.44
10361,United States,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,246.38,256.38,291.94,301.66,248.26,248.73,253.73
10739,Morocco,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
11117,Armenia,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.35,1.94
11495,Belarus,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,29.90,22.80,23.10
11873,Republic of Moldova,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12251,Ukraine,Total final energy (PJ),Of which: cement,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [7]:
years_hist=range(2010,2017)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2010: 26.439696969696968,
 2011: 26.207272727272724,
 2012: 26.723636363636366,
 2013: 26.148787878787882,
 2014: 26.023939393939393,
 2015: 26.069999999999997,
 2016: 25.727878787878787}

In [8]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

           sub_region  Year     meanEEI
14    Central America  2010  102.980000
15    Central America  2011  105.220000
16    Central America  2012  122.720000
17    Central America  2013  116.770000
18    Central America  2014  138.490000
19    Central America  2015  159.330000
20    Central America  2016  164.920000
42     Eastern Europe  2010   12.574000
43     Eastern Europe  2011   14.588000
44     Eastern Europe  2012   12.658000
45     Eastern Europe  2013   11.628000
46     Eastern Europe  2014   18.436000
47     Eastern Europe  2015   17.678000
48     Eastern Europe  2016   18.276000
77   Northern America  2010  151.755000
78   Northern America  2011  155.970000
79   Northern America  2012  173.135000
80   Northern America  2013  176.980000
81   Northern America  2014  151.310000
82   Northern America  2015  151.325000
83   Northern America  2016  153.955000
84    Northern Europe  2010    2.380000
85    Northern Europe  2011    2.510000
86    Northern Europe  2012    2.552500
87    Northern Europe  2013    2.225000
88    Northern Europe  2014    2.270000
89    Northern Europe  2015    2.422500
90    Northern Europe  2016    2.475000
126   Southern Europe  2010   37.747500
127   Southern Europe  2011   30.400000
128   Southern Europe  2012   24.677500
129   Southern Europe  2013   22.207500
130   Southern Europe  2014   21.245000
131   Southern Europe  2015   19.175000
132   Southern Europe  2016   17.390000
145      Western Asia  2015    1.175000
146      Western Asia  2016    0.970000
147    Western Europe  2010   28.155714
148    Western Europe  2011   28.297143
149    Western Europe  2012   27.798571
150    Western Europe  2013   26.447143
151    Western Europe  2014   26.111429
152    Western Europe  2015   25.314286
153    Western Europe  2016   23.567143

In [9]:
#### HISTORICAL ######
iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_cement
0,India,IND,2010,0
1,India,IND,2011,0
2,India,IND,2012,0
3,India,IND,2013,0
4,India,IND,2014,0
...,...,...,...,...
1332,Ireland,IRL,2012,0
1333,Ireland,IRL,2013,0
1334,Ireland,IRL,2014,0
1335,Ireland,IRL,2015,0
1336,Ireland,IRL,2016,0

In [10]:
for c,y in zip(df_historical_out['iso_code3'].values,df_historical_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y)].values[0])*1e3

        dato=tj/tonne
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y]*1e3
            
        dato=tj/tonne
        
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_cement
0,India,IND,2010,0.000574
1,India,IND,2011,0.000508
2,India,IND,2012,0.000594
3,India,IND,2013,0.000533
4,India,IND,2014,0.000414
...,...,...,...,...
1332,Ireland,IRL,2012,0.000000
1333,Ireland,IRL,2013,0.000000
1334,Ireland,IRL,2014,0.000000
1335,Ireland,IRL,2015,0.000000
1336,Ireland,IRL,2016,0.000000

In [11]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_cement
0,India,IND,2017,0
1,India,IND,2018,0
2,India,IND,2019,0
3,India,IND,2020,0
4,India,IND,2021,0
...,...,...,...,...
6489,Ireland,IRL,2046,0
6490,Ireland,IRL,2047,0
6491,Ireland,IRL,2048,0
6492,Ireland,IRL,2049,0
6493,Ireland,IRL,2050,0

In [12]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['iso_code3'].values,df_projected_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y_hist_max)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y_hist_max), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y_hist_max]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato
df_projected_out

San Marino 2020 prodinit_ippu_cement_tonne=0.0
San Marino 2021 prodinit_ippu_cement_tonne=0.0
San Marino 2022 prodinit_ippu_cement_tonne=0.0
San Marino 2023 prodinit_ippu_cement_tonne=0.0
San Marino 2024 prodinit_ippu_cement_tonne=0.0
San Marino 2025 prodinit_ippu_cement_tonne=0.0
San Marino 2026 prodinit_ippu_cement_tonne=0.0
San Marino 2027 prodinit_ippu_cement_tonne=0.0
San Marino 2028 prodinit_ippu_cement_tonne=0.0
San Marino 2029 prodinit_ippu_cement_tonne=0.0
San Marino 2030 prodinit_ippu_cement_tonne=0.0
San Marino 2031 prodinit_ippu_cement_tonne=0.0
San Marino 2032 prodinit_ippu_cement_tonne=0.0
San Marino 2033 prodinit_ippu_cement_tonne=0.0
San Marino 2034 prodinit_ippu_cement_tonne=0.0
San Marino 2035 prodinit_ippu_cement_tonne=0.0
San Marino 2036 prodinit_ippu_cement_tonne=0.0
San Marino 2037 prodinit_ippu_cement_tonne=0.0
San Marino 2038 prodinit_ippu_cement_tonne=0.0
San Marino 2039 prodinit_ippu_cement_tonne=0.0
San Marino 2040 prodinit_ippu_cement_tonne=0.0
San Marino 2041 prodinit_ippu_cement_tonne=0.0
San Marino 2042 prodinit_ippu_cement_tonne=0.0
San Marino 2043 prodinit_ippu_cement_tonne=0.0
San Marino 2044 prodinit_ippu_cement_tonne=0.0
San Marino 2045 prodinit_ippu_cement_tonne=0.0
San Marino 2046 prodinit_ippu_cement_tonne=0.0
San Marino 2047 prodinit_ippu_cement_tonne=0.0
San Marino 2048 prodinit_ippu_cement_tonne=0.0
San Marino 2049 prodinit_ippu_cement_tonne=0.0
San Marino 2050 prodinit_ippu_cement_tonne=0.0

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_cement
0,India,IND,2017,0.000306
1,India,IND,2018,0.000287
2,India,IND,2019,0.000267
3,India,IND,2020,0.000370
4,India,IND,2021,0.000370
...,...,...,...,...
6489,Ireland,IRL,2046,0.000000
6490,Ireland,IRL,2047,0.000000
6491,Ireland,IRL,2048,0.000000
6492,Ireland,IRL,2049,0.000000
6493,Ireland,IRL,2050,0.000000

In [13]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [14]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')