In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect
import pandas as pd
import numpy as np


parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_recycled_textiles'

In [2]:
CircularEc_folder = 'frac_waso_recycled_textiles'
df_frac_hist = pd.read_csv(grandparentdir+'/frac_recycled/'
                           +CircularEc_folder+'/input_to_sisepuede/historical/'
                           +CircularEc_folder+'.csv')

df_frac_proj = pd.read_csv(grandparentdir+'/frac_recycled/'
                           +CircularEc_folder+'/input_to_sisepuede/projected/'
                           +CircularEc_folder+'.csv')

iso3 = list(set(df_frac_hist['iso_code3'].values))

years_all = range(min(df_frac_hist['Year'].values),max(df_frac_proj['Year'].values)+1)
c_y_frac = []
for c in iso3:
    for y in years_all:
    
        try:
            frac = df_frac_hist.loc[(df_frac_hist['iso_code3']==c) & (df_frac_hist['Year']==y),][CircularEc_folder].values[0]
            
        except:
            frac = df_frac_proj.loc[(df_frac_proj['iso_code3']==c) & (df_frac_proj['Year']==y)][CircularEc_folder].values[0]
            
        c_y_frac.append([c,y,frac])

df_frac_all = pd.DataFrame(c_y_frac,columns=['iso_code3', 'Year', CircularEc_folder])
df_frac_all

     iso_code3  Year  frac_waso_recycled_textiles
0          TUN  2010                         0.04
1          TUN  2011                         0.04
2          TUN  2012                         0.04
3          TUN  2013                         0.04
4          TUN  2014                         0.04
...        ...   ...                          ...
8892       GRC  2046                         0.19
8893       GRC  2047                         0.19
8894       GRC  2048                         0.19
8895       GRC  2049                         0.19
8896       GRC  2050                         0.19

[8897 rows x 3 columns]

In [3]:
Production_folder = 'consumpinit_inen_energy_tj_per_tonne_production_textiles'
df_prod_hist = pd.read_csv(grandparentdir+'/'
                           +Production_folder+'/input_to_sisepuede/historical/'
                           +Production_folder+'.csv')

df_prod_proj = pd.read_csv(grandparentdir+'/'
                           +Production_folder+'/input_to_sisepuede/projected/'
                           +Production_folder+'.csv')
hist=[]
for nat,iso3,year in zip(df_prod_hist['Nation'].values,
                         df_prod_hist['iso_code3'].values,
                         df_prod_hist['Year'].values):
    
    prod=df_prod_hist.loc[(df_prod_hist['Nation']==nat) &
                         (df_prod_hist['iso_code3']==iso3) &
                         (df_prod_hist['Year']==year)][Production_folder].values[0]
    
    frac=df_frac_all.loc[(df_frac_all['iso_code3']==iso3) &
                         (df_frac_all['Year']==year)][CircularEc_folder].values[0]
    dato = prod*frac
    
    hist.append([nat,iso3,year,dato])
    
df_historical_out = pd.DataFrame(hist, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_textiles
0,Cambodia,KHM,2010,0.005385
1,Cambodia,KHM,2011,0.004077
2,Cambodia,KHM,2012,0.003653
3,Cambodia,KHM,2013,0.003342
4,Cambodia,KHM,2014,0.003017
...,...,...,...,...
1332,Maldives,MDV,2012,0.469994
1333,Maldives,MDV,2013,0.456217
1334,Maldives,MDV,2014,0.651216
1335,Maldives,MDV,2015,0.553377
1336,Maldives,MDV,2016,0.464241

In [4]:
proj=[]
for nat,iso3,year in zip(df_prod_proj['Nation'].values,
                         df_prod_proj['iso_code3'].values,
                         df_prod_proj['Year'].values):
    
    prod=df_prod_proj.loc[(df_prod_proj['Nation']==nat) &
                         (df_prod_proj['iso_code3']==iso3) &
                         (df_prod_proj['Year']==year)][Production_folder].values[0]
    
    frac=df_frac_all.loc[(df_frac_all['iso_code3']==iso3) &
                         (df_frac_all['Year']==year)][CircularEc_folder].values[0]
    dato = prod*frac
    
    proj.append([nat,iso3,year,dato])
    
df_projected_out = pd.DataFrame(proj, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_textiles
0,Cambodia,KHM,2017,0.002231
1,Cambodia,KHM,2018,0.002000
2,Cambodia,KHM,2019,0.001874
3,Cambodia,KHM,2020,0.002096
4,Cambodia,KHM,2021,0.002096
...,...,...,...,...
6489,Maldives,MDV,2046,0.394517
6490,Maldives,MDV,2047,0.390889
6491,Maldives,MDV,2048,0.387296
6492,Maldives,MDV,2049,0.383735
6493,Maldives,MDV,2050,0.380207

In [5]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [6]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')