In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'avgload_trns_freight_tonne_per_vehicle_road_heavy_freight'

In [12]:
import pandas as pd
import numpy as np

df_hist=pd.read_csv('../input_to_sisepuede/historical/'+var_name+'.csv')
df_proj=pd.read_csv('../input_to_sisepuede/projected/'+var_name+'.csv')
df_hist.columns

Index(['Unnamed: 0', 'Country', 'ISO3', 'Year',
       'avgload_trns_freight_tonne_per_vehicle_road_heavy_freight'],
      dtype='object')

In [26]:
if 'Country' in df_hist.columns:
    df_hist.rename(columns = {'Country':'Nation'}, inplace = True)
if 'Country' in df_proj.columns:
    df_proj.rename(columns = {'Country':'Nation'}, inplace = True)
if 'ISO3' in df_hist.columns:
    df_hist.rename(columns = {'ISO3':'iso_3'}, inplace = True)
if 'ISO3' in df_proj.columns:
    df_proj.rename(columns = {'ISO3':'iso_3'}, inplace = True)
    
if 'Unnamed: 0' in df_hist.columns:
    df_hist=df_hist.drop(['Unnamed: 0'],axis=1)
if 'Unnamed: 0' in df_proj.columns:
    df_proj=df_proj.drop(['Unnamed: 0'],axis=1)

In [27]:
df_hist

,Nation,iso_3,Year,avgload_trns_freight_tonne_per_vehicle_road_heavy_freight
0,Aruba,ABW,2000,31.751466
1,Aruba,ABW,2001,31.751466
2,Aruba,ABW,2002,31.751466
3,Aruba,ABW,2003,31.751466
4,Aruba,ABW,2004,31.751466
...,...,...,...,...
6113,Zimbabwe,ZWE,2018,31.751466
6114,Zimbabwe,ZWE,2019,31.751466
6115,Zimbabwe,ZWE,2020,31.751466
6116,Zimbabwe,ZWE,2021,31.751466
6117,Zimbabwe,ZWE,2022,31.751466

In [28]:
df_proj

,Nation,iso_3,Year,avgload_trns_freight_tonne_per_vehicle_road_heavy_freight
0,Aruba,ABW,2023,31.751466
1,Aruba,ABW,2024,31.751466
2,Aruba,ABW,2025,31.751466
3,Aruba,ABW,2026,31.751466
4,Aruba,ABW,2027,31.751466
...,...,...,...,...
7443,Zimbabwe,ZWE,2046,31.751466
7444,Zimbabwe,ZWE,2047,31.751466
7445,Zimbabwe,ZWE,2048,31.751466
7446,Zimbabwe,ZWE,2049,31.751466
7447,Zimbabwe,ZWE,2050,31.751466

In [29]:
df_hist.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')
df_proj.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')