In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_electronics'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [3]:
IPPU_folder = 'prodinit_ippu_electronics_tonne'
IPPU_var = 'prodinit_ippu_electronics_tonne'
df_ippu_hist = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/historical/'+IPPU_var+'.csv')
df_ippu_proj = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/projected/'+IPPU_var+'.csv')

code_ippu = list(set(df_ippu_proj['location_code'].values))

years_all = range(min(df_ippu_hist['year'].values),max(df_ippu_proj['year'].values)+1)
c_y_ippu = []
for c in code_ippu:
    for y in years_all:
    
        try:
            ippu = df_ippu_hist.loc[(df_ippu_hist['location_code']==c) & (df_ippu_hist['year']==y),][IPPU_var].values[0]
            
        except:
            ippu = df_ippu_proj.loc[(df_ippu_proj['location_code']==c) & (df_ippu_proj['year']==y)][IPPU_var].values[0]
            
        c_y_ippu.append([c,y,ippu])

df_ippu_all = pd.DataFrame(c_y_ippu,columns=['iso_code3', 'Year', IPPU_var])
df_ippu_all

     iso_code3  Year  prodinit_ippu_electronics_tonne
0          HTI  2010                     2.020443e+04
1          HTI  2011                     3.339366e+04
2          HTI  2012                     1.961909e+04
3          HTI  2013                     2.229063e+04
4          HTI  2014                     1.881709e+04
...        ...   ...                              ...
7826       GTM  2046                     8.069339e+05
7827       GTM  2047                     8.587334e+05
7828       GTM  2048                     9.138580e+05
7829       GTM  2049                     9.725213e+05
7830       GTM  2050                     1.034950e+06

[7831 rows x 3 columns]

In [4]:
df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Oil and oil products (PJ),"Manufacturing [ISIC 10-18, 20-32]",130.43,106.35,104.18,106.50,118.77,125.35,127.31,128.88,136.56,129.94,136.44,165.71,185.91,158.38,160.02,121.34,106.70
1,Australia,Oil and oil products (PJ),Food and tobacco [ISIC 10-12],5.89,6.00,2.38,2.66,2.75,2.76,2.90,2.99,2.90,5.52,5.04,5.84,6.37,5.89,5.96,5.18,5.04
2,Australia,Oil and oil products (PJ),Textiles and leather [ISIC 13-15],0.48,0.48,0.48,0.48,0.38,0.95,0.95,0.98,0.95,0.77,0.75,0.76,0.75,0.94,0.95,0.77,0.76
3,Australia,Oil and oil products (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Australia,Oil and oil products (PJ),Paper pulp and printing [ISIC 17-18],2.56,2.95,1.74,0.64,0.68,0.77,0.82,0.73,0.64,0.49,0.48,0.47,0.67,2.32,2.37,2.57,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,Ukraine,Steel production (10^6 t),Memo: Coke and refined petroleum products [ISI...,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12470,Ukraine,Steel production (10^6 t),"Agriculture, forestry and fishing [ISIC 01-03]",x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12471,Ukraine,Steel production (10^6 t),Mining [ISIC 05-09],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12472,Ukraine,Steel production (10^6 t),Construction [ISIC 41-43],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12473,Ukraine,Steel production (10^6 t),General activity data,31.77,33.11,34.05,36.93,38.74,38.64,40.89,42.83,37.28,29.86,33.43,35.33,32.98,32.77,27.17,22.97,24.22

In [5]:
#Cross Walk with IEA data:
industries_correspondence = {
  'electronics' : (0.5, 'Machinery [ISIC 25-28]'), #Electronics is ISIC 26 and 27, so let's say half of 25-28
  'plastic' : (0.5, 'Rubber and plastic [ISIC 22]'), # SEE BELOW
  'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), #OK
  'cement' : (0.9, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'glass' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'other_product_manufacturing' : (1.0, 'Other manufacturing [ISIC 31-32]'), #OK
  'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), #OK
  'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), #SEE BELOW
  'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), #+ AND 0.5  'Rubber and plastic [ISIC 22]'
  'metals' : (1.0, 'Basic metals [ISIC 24]'), #OK
  'lime_and_carbonite' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
  # REMOVE 'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') #I propose we leave this out entirely, unless we are doing all recyclables
}

In [6]:
df_enduse = df_eei.loc[(df_eei['PRODUCT/FLOW']=='Total final energy (PJ)') & 
                       (df_eei['ENDUSE']=='Machinery [ISIC 25-28]')]
df_enduse

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
159,Australia,Total final energy (PJ),Machinery [ISIC 25-28],26.77,23.03,22.73,24.99,26.22,25.53,22.87,23.72,23.58,23.99,23.19,23.40,22.70,20.42,18.61,17.58,15.81
537,Austria,Total final energy (PJ),Machinery [ISIC 25-28],15.85,17.02,16.21,17.26,19.27,20.56,21.82,21.87,22.09,23.22,26.19,26.83,27.78,27.09,23.51,24.72,26.74
915,Belgium,Total final energy (PJ),Machinery [ISIC 25-28],11.05,10.47,11.40,14.36,15.46,10.10,13.05,13.75,12.17,9.91,14.29,15.45,10.52,8.63,7.43,7.99,7.95
1293,Canada,Total final energy (PJ),Machinery [ISIC 25-28],45.09,47.03,48.83,48.78,50.53,50.35,46.55,49.79,50.65,42.04,44.06,45.76,47.89,45.93,46.34,43.31,43.48
1671,Czech Republic,Total final energy (PJ),Machinery [ISIC 25-28],27.54,27.19,26.39,29.65,27.10,31.93,32.59,34.04,31.83,28.99,30.64,29.60,29.28,28.34,26.69,28.90,28.36
2049,Denmark,Total final energy (PJ),Machinery [ISIC 25-28],12.63,13.21,12.90,13.39,13.59,13.05,13.70,13.84,14.34,13.04,13.37,12.08,11.12,10.20,9.41,9.33,9.23
2427,Finland,Total final energy (PJ),Machinery [ISIC 25-28],12.77,12.74,13.59,14.19,13.79,13.58,13.67,13.58,14.64,14.67,15.30,14.25,13.52,13.17,13.84,12.54,12.88
2805,France,Total final energy (PJ),Machinery [ISIC 25-28],97.78,98.82,96.85,96.69,94.53,89.03,95.20,92.34,94.49,84.54,93.93,83.47,84.70,88.56,80.51,80.19,79.12
3183,Germany,Total final energy (PJ),Machinery [ISIC 25-28],189.46,191.89,190.49,233.58,224.12,222.03,225.74,229.00,239.08,212.57,224.69,226.38,230.96,225.24,217.54,203.01,191.28
3561,Greece,Total final energy (PJ),Machinery [ISIC 25-28],2.84,2.99,3.06,3.68,2.44,2.46,2.62,2.89,2.81,0.51,0.79,1.92,1.02,1.11,1.52,1.53,1.24
3939,Hungary,Total final energy (PJ),Machinery [ISIC 25-28],7.24,8.25,8.53,9.29,9.46,11.61,11.37,11.35,10.29,9.72,10.74,11.12,12.95,16.10,16.05,16.21,16.96
4317,Ireland,Total final energy (PJ),Machinery [ISIC 25-28],12.30,13.26,12.26,11.41,10.51,12.51,13.07,12.95,12.25,10.94,10.92,11.71,11.22,11.63,11.51,11.95,12.76
4695,Italy,Total final energy (PJ),Machinery [ISIC 25-28],214.73,217.82,220.05,222.91,223.87,220.74,221.28,218.82,214.32,173.49,183.95,171.39,161.80,155.79,154.45,157.22,160.27
5073,Japan,Total final energy (PJ),Machinery [ISIC 25-28],379.32,363.35,367.86,359.73,364.50,371.24,376.00,379.81,347.96,332.07,332.11,304.39,292.05,299.38,275.06,271.84,279.49
5451,Korea,Total final energy (PJ),Machinery [ISIC 25-28],117.69,119.17,130.93,141.43,148.67,162.97,175.20,203.56,224.63,219.26,254.44,272.10,288.62,308.68,315.27,311.44,326.71
5829,Luxembourg,Total final energy (PJ),Machinery [ISIC 25-28],0.56,0.58,0.63,0.71,0.69,0.63,0.57,0.59,0.60,0.54,0.65,0.47,0.40,0.40,0.37,0.43,0.48
6207,Mexico,Total final energy (PJ),Machinery [ISIC 25-28],3.13,2.87,2.71,2.96,0.84,2.22,2.38,1.84,2.00,0.46,0.46,2.12,2.22,2.02,0.84,1.97,2.17
6585,Netherlands,Total final energy (PJ),Machinery [ISIC 25-28],29.86,29.69,29.59,27.36,27.46,28.04,26.88,24.79,25.64,27.15,27.48,21.57,22.51,21.53,20.70,20.43,21.67
6963,New Zealand,Total final energy (PJ),Machinery [ISIC 25-28],2.86,2.80,2.54,3.36,3.71,3.80,4.04,3.89,3.38,2.57,3.32,3.46,3.35,3.64,3.32,2.47,2.45
7341,Poland,Total final energy (PJ),Machinery [ISIC 25-28],37.11,34.88,32.85,34.17,32.54,32.22,32.14,32.20,30.74,26.46,29.34,29.48,28.95,30.76,30.72,31.54,30.91
7719,Portugal,Total final energy (PJ),Machinery [ISIC 25-28],4.74,5.05,5.20,6.70,6.68,6.80,7.10,7.15,7.16,6.99,6.62,6.96,6.68,6.71,6.79,7.10,6.43
8097,Slovak Republic,Total final energy (PJ),Machinery [ISIC 25-28],6.60,7.05,7.22,8.11,5.87,6.34,6.76,7.36,8.63,6.10,7.39,7.46,7.46,7.82,8.43,8.80,9.19
8475,Spain,Total final energy (PJ),Machinery [ISIC 25-28],43.36,57.62,51.15,58.77,59.18,57.90,49.46,51.66,50.23,48.37,45.83,45.32,29.93,41.97,34.70,39.55,39.65
8853,Sweden,Total final energy (PJ),Machinery [ISIC 25-28],22.61,22.41,21.92,22.61,21.62,21.51,21.60,21.24,19.25,17.54,17.84,18.57,17.50,14.93,15.37,15.03,14.52
9231,Switzerland,Total final energy (PJ),Machinery [ISIC 25-28],17.73,16.88,19.00,20.71,20.09,20.72,21.26,20.51,26.44,24.15,25.59,24.80,25.13,25.23,22.28,23.43,24.19
9609,Turkey,Total final energy (PJ),Machinery [ISIC 25-28],9.66,8.43,9.10,10.71,9.59,9.86,9.99,10.90,18.47,15.74,20.09,21.78,21.51,20.69,23.36,31.93,30.47
9987,United Kingdom,Total final energy (PJ),Machinery [ISIC 25-28],111.26,110.04,107.32,102.91,100.57,105.02,101.53,98.96,93.18,78.51,80.45,78.42,78.33,77.28,74.28,74.13,74.66
10365,United States,Total final energy (PJ),Machinery [ISIC 25-28],1009.24,958.07,866.51,844.65,824.06,791.82,891.64,894.85,860.83,744.49,882.26,888.90,948.66,949.47,747.43,769.66,742.91
10743,Morocco,Total final energy (PJ),Machinery [ISIC 25-28],0.78,1.22,1.41,1.58,1.20,1.30,1.41,1.49,1.58,1.63,1.73,1.86,1.99,2.00,2.07,2.11,2.17
11121,Armenia,Total final energy (PJ),Machinery [ISIC 25-28],0.15,0.19,0.06,0.06,0.07,0.07,0.13,0.20,0.05,0.05,0.06,0.06,0.06,0.09,0.14,0.11,0.11
11499,Belarus,Total final energy (PJ),Machinery [ISIC 25-28],18.82,20.36,20.24,18.75,18.41,19.49,20.03,19.36,20.33,15.86,16.52,16.46,18.19,17.03,14.74,11.03,11.97
11877,Republic of Moldova,Total final energy (PJ),Machinery [ISIC 25-28],0.17,0.23,0.21,0.24,0.27,0.32,0.19,0.17,0.15,0.16,0.20,0.21,0.21,0.18,0.20,0.18,0.19
12255,Ukraine,Total final energy (PJ),Machinery [ISIC 25-28],19.26,17.57,15.15,15.15,33.40,34.52,32.41,45.54,42.75,28.28,32.02,34.72,33.15,27.85,21.24,19.48,17.13

In [7]:
years_hist=range(2010,2017)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2010: 75.04424242424243,
 2011: 74.31727272727272,
 2012: 75.52606060606061,
 2013: 76.05666666666666,
 2014: 68.02181818181818,
 2015: 68.39818181818181,
 2016: 67.98636363636365}

In [8]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

                    sub_region  Year    meanEEI
0    Australia and New Zealand  2010  13.255000
1    Australia and New Zealand  2011  13.430000
2    Australia and New Zealand  2012  13.025000
3    Australia and New Zealand  2013  12.030000
4    Australia and New Zealand  2014  10.965000
..                         ...   ...        ...
149             Western Europe  2012  57.428571
150             Western Europe  2013  56.668571
151             Western Europe  2014  53.191429
152             Western Europe  2015  51.457143
153             Western Europe  2016  50.204286

[70 rows x 3 columns]

In [9]:
#### HISTORICAL ######
iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_electronics
0,Haiti,HTI,2010,0
1,Haiti,HTI,2011,0
2,Haiti,HTI,2012,0
3,Haiti,HTI,2013,0
4,Haiti,HTI,2014,0
...,...,...,...,...
1332,Israel,ISR,2012,0
1333,Israel,ISR,2013,0
1334,Israel,ISR,2014,0
1335,Israel,ISR,2015,0
1336,Israel,ISR,2016,0

In [10]:
fraction = 0.5
for c,y in zip(df_historical_out['iso_code3'].values,df_historical_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_electronics
0,Haiti,HTI,2010,1.857124
1,Haiti,HTI,2011,1.112745
2,Haiti,HTI,2012,1.924810
3,Haiti,HTI,2013,1.706023
4,Haiti,HTI,2014,1.807448
...,...,...,...,...
1332,Israel,ISR,2012,0.004197
1333,Israel,ISR,2013,0.003646
1334,Israel,ISR,2014,0.003850
1335,Israel,ISR,2015,0.004506
1336,Israel,ISR,2016,0.004588

In [11]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_electronics
0,Haiti,HTI,2017,0
1,Haiti,HTI,2018,0
2,Haiti,HTI,2019,0
3,Haiti,HTI,2020,0
4,Haiti,HTI,2021,0
...,...,...,...,...
6489,Israel,ISR,2046,0
6490,Israel,ISR,2047,0
6491,Israel,ISR,2048,0
6492,Israel,ISR,2049,0
6493,Israel,ISR,2050,0

In [12]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['iso_code3'].values,df_projected_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y_hist_max)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y_hist_max), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y_hist_max]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_electronics
0,Haiti,HTI,2017,2.190100
1,Haiti,HTI,2018,2.284866
2,Haiti,HTI,2019,2.384944
3,Haiti,HTI,2020,1.425644
4,Haiti,HTI,2021,1.425644
...,...,...,...,...
6489,Israel,ISR,2046,0.001219
6490,Israel,ISR,2047,0.001159
6491,Israel,ISR,2048,0.001102
6492,Israel,ISR,2049,0.001048
6493,Israel,ISR,2050,0.000997

In [13]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [14]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')