In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_metals'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [3]:
IPPU_folder = 'prodinit_ippu_metals_tonne'
IPPU_var = 'prodinit_ippu_metals_tonne'
df_ippu_hist = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/historical/'+IPPU_var+'.csv')
df_ippu_proj = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/projected/'+IPPU_var+'.csv')

code_ippu = list(set(df_ippu_proj['location_code'].values))

years_all = range(min(df_ippu_hist['year'].values),max(df_ippu_proj['year'].values)+1)
c_y_ippu = []
for c in code_ippu:
    for y in years_all:
    
        try:
            ippu = df_ippu_hist.loc[(df_ippu_hist['location_code']==c) & (df_ippu_hist['year']==y),][IPPU_var].values[0]
            
        except:
            ippu = df_ippu_proj.loc[(df_ippu_proj['location_code']==c) & (df_ippu_proj['year']==y)][IPPU_var].values[0]
            
        c_y_ippu.append([c,y,ippu])

df_ippu_all = pd.DataFrame(c_y_ippu,columns=['iso_code3', 'Year', IPPU_var])
df_ippu_all

     iso_code3  Year  prodinit_ippu_metals_tonne
0          BHR  2010                9.776934e+05
1          BHR  2011                7.497837e+05
2          BHR  2012                6.864287e+05
3          BHR  2013                7.551320e+05
4          BHR  2014                7.956477e+05
...        ...   ...                         ...
7826       SSD  2046                4.584753e+08
7827       SSD  2047                6.787278e+08
7828       SSD  2048                1.004790e+09
7829       SSD  2049                1.487493e+09
7830       SSD  2050                2.202088e+09

[7831 rows x 3 columns]

In [4]:
df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Oil and oil products (PJ),"Manufacturing [ISIC 10-18, 20-32]",130.43,106.35,104.18,106.50,118.77,125.35,127.31,128.88,136.56,129.94,136.44,165.71,185.91,158.38,160.02,121.34,106.70
1,Australia,Oil and oil products (PJ),Food and tobacco [ISIC 10-12],5.89,6.00,2.38,2.66,2.75,2.76,2.90,2.99,2.90,5.52,5.04,5.84,6.37,5.89,5.96,5.18,5.04
2,Australia,Oil and oil products (PJ),Textiles and leather [ISIC 13-15],0.48,0.48,0.48,0.48,0.38,0.95,0.95,0.98,0.95,0.77,0.75,0.76,0.75,0.94,0.95,0.77,0.76
3,Australia,Oil and oil products (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Australia,Oil and oil products (PJ),Paper pulp and printing [ISIC 17-18],2.56,2.95,1.74,0.64,0.68,0.77,0.82,0.73,0.64,0.49,0.48,0.47,0.67,2.32,2.37,2.57,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,Ukraine,Steel production (10^6 t),Memo: Coke and refined petroleum products [ISI...,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12470,Ukraine,Steel production (10^6 t),"Agriculture, forestry and fishing [ISIC 01-03]",x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12471,Ukraine,Steel production (10^6 t),Mining [ISIC 05-09],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12472,Ukraine,Steel production (10^6 t),Construction [ISIC 41-43],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12473,Ukraine,Steel production (10^6 t),General activity data,31.77,33.11,34.05,36.93,38.74,38.64,40.89,42.83,37.28,29.86,33.43,35.33,32.98,32.77,27.17,22.97,24.22

In [5]:
#Cross Walk with IEA data:
industries_correspondence = {
                'electronics' : (1.0, 'Machinery [ISIC 25-28]'), 
                'plastic' : (1.0, 'Rubber and plastic [ISIC 22]'), 
                'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), 
                'cement' : (1.0, 'Of which: cement'),
                'glass' : (1.0, 'Non-metallic minerals [ISIC 23]'), 
                'other_product_manufacturing' : (1.0, 'Other manufacturing [ISIC 31-32]'), 
                'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), 
                'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), 
                'metals' : (1.0, 'Basic metals [ISIC 24]'),  
                'lime_and_carbonite' : (1.0, 'Non-ferrous metals [ISIC 2420+2432]'), 
                'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
                'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') 
                }

In [6]:
df_enduse = df_eei.loc[(df_eei['PRODUCT/FLOW']=='Total final energy (PJ)') & 
                       (df_eei['ENDUSE']=='Basic metals [ISIC 24]')]
df_enduse

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
156,Australia,Total final energy (PJ),Basic metals [ISIC 24],527.19,539.33,544.35,528.59,541.24,527.47,530.42,549.92,557.71,508.89,528.96,530.34,517.82,512.85,505.81,446.21,445.00
534,Austria,Total final energy (PJ),Basic metals [ISIC 24],106.19,104.39,106.34,105.49,108.07,116.53,117.77,121.92,124.16,100.07,119.00,121.44,121.27,127.00,124.68,123.36,122.16
912,Belgium,Total final energy (PJ),Basic metals [ISIC 24],230.99,225.62,189.63,194.31,185.45,160.12,164.76,155.44,153.24,88.06,131.00,124.15,119.20,119.02,116.83,113.57,123.54
1290,Canada,Total final energy (PJ),Basic metals [ISIC 24],470.98,458.00,478.82,478.97,478.95,482.36,496.39,492.08,491.13,402.04,434.97,457.49,443.21,423.23,443.23,437.43,429.48
1668,Czech Republic,Total final energy (PJ),Basic metals [ISIC 24],160.76,163.90,152.33,149.48,156.00,144.84,146.86,146.88,135.94,115.55,126.39,127.46,117.40,111.11,103.38,97.03,82.45
2046,Denmark,Total final energy (PJ),Basic metals [ISIC 24],6.55,6.77,4.59,4.38,4.37,4.42,4.40,4.33,3.96,2.10,2.24,2.57,3.28,3.32,3.54,3.47,3.49
2424,Finland,Total final energy (PJ),Basic metals [ISIC 24],76.12,74.71,77.26,80.18,82.09,82.15,84.54,79.31,77.72,60.48,75.03,72.59,66.81,65.69,68.00,71.93,72.79
2802,France,Total final energy (PJ),Basic metals [ISIC 24],366.40,374.09,391.20,361.23,360.40,371.50,372.16,371.15,335.29,263.31,295.90,306.84,299.37,307.26,302.32,292.50,286.97
3180,Germany,Total final energy (PJ),Basic metals [ISIC 24],795.21,768.67,756.85,795.90,755.73,711.04,761.76,734.19,733.67,553.72,735.70,747.79,721.00,703.86,699.18,718.22,709.09
3558,Greece,Total final energy (PJ),Basic metals [ISIC 24],41.93,42.27,44.57,45.18,44.75,44.21,42.76,46.18,40.49,33.32,39.42,41.21,39.61,42.83,40.32,38.52,37.96
3936,Hungary,Total final energy (PJ),Basic metals [ISIC 24],49.57,43.35,43.50,43.52,41.61,42.31,45.74,46.18,44.48,33.07,39.93,38.15,35.57,27.77,29.04,34.18,30.83
4314,Ireland,Total final energy (PJ),Basic metals [ISIC 24],19.13,16.10,15.37,15.28,16.19,16.07,17.04,17.22,17.78,14.23,17.73,19.47,21.03,20.34,19.88,21.81,20.60
4692,Italy,Total final energy (PJ),Basic metals [ISIC 24],376.15,378.62,350.69,382.05,392.10,398.32,398.60,368.53,348.73,250.23,316.08,337.67,323.64,263.46,268.65,237.53,255.71
5070,Japan,Total final energy (PJ),Basic metals [ISIC 24],2044.38,1989.67,2039.79,2050.08,2068.35,2086.39,2139.03,2183.69,2004.30,1864.68,2084.27,2028.22,2051.07,2084.89,2053.27,1965.50,1962.52
5448,Korea,Total final energy (PJ),Basic metals [ISIC 24],645.08,637.30,686.42,701.19,718.37,733.33,740.86,784.51,854.59,783.42,942.31,1083.62,1091.65,1059.03,1157.36,1162.91,1131.13
5826,Luxembourg,Total final energy (PJ),Basic metals [ISIC 24],14.22,14.85,15.12,13.81,16.44,14.56,18.35,17.53,16.97,13.97,16.68,14.54,12.80,11.92,11.51,11.62,12.28
6204,Mexico,Total final energy (PJ),Basic metals [ISIC 24],221.22,192.49,189.51,202.57,216.80,223.84,231.56,221.05,244.27,192.56,228.39,231.01,232.74,230.96,241.38,228.73,229.64
6582,Netherlands,Total final energy (PJ),Basic metals [ISIC 24],132.19,136.21,136.80,141.86,147.36,146.03,135.93,146.46,142.54,112.58,128.39,140.80,127.97,122.85,121.19,126.34,126.10
6960,New Zealand,Total final energy (PJ),Basic metals [ISIC 24],33.04,33.32,33.44,34.20,35.67,35.53,34.63,35.87,33.17,31.22,36.22,37.56,36.89,39.03,37.78,36.58,37.29
7338,Poland,Total final energy (PJ),Basic metals [ISIC 24],298.41,265.61,248.93,270.53,272.19,214.77,230.36,250.47,213.92,148.42,173.42,182.31,186.17,190.81,199.90,201.49,204.64
7716,Portugal,Total final energy (PJ),Basic metals [ISIC 24],16.18,8.42,6.45,7.51,7.57,8.94,9.39,10.16,9.47,7.14,7.11,7.90,8.10,8.35,8.45,8.66,8.95
8094,Slovak Republic,Total final energy (PJ),Basic metals [ISIC 24],96.50,98.67,104.11,116.19,116.38,110.20,118.74,106.45,102.93,92.95,109.76,103.39,110.13,112.83,116.42,110.06,112.07
8472,Spain,Total final energy (PJ),Basic metals [ISIC 24],245.50,265.45,271.67,286.11,301.04,272.01,228.15,243.82,232.90,177.58,203.04,207.05,197.47,181.26,168.13,183.87,181.77
8850,Sweden,Total final energy (PJ),Basic metals [ISIC 24],104.64,109.93,112.71,109.90,111.14,112.02,121.97,118.27,114.03,74.47,103.71,96.88,87.77,87.35,87.50,88.15,86.39
9228,Switzerland,Total final energy (PJ),Basic metals [ISIC 24],12.51,12.31,12.77,13.73,14.30,13.40,12.52,12.72,12.29,9.40,11.56,11.98,11.92,11.48,12.55,12.51,12.26
9606,Turkey,Total final energy (PJ),Basic metals [ISIC 24],216.35,198.38,192.78,217.80,231.11,238.40,255.06,256.98,260.12,261.08,295.21,320.22,333.02,327.23,325.60,348.54,357.74
9984,United Kingdom,Total final energy (PJ),Basic metals [ISIC 24],352.28,294.63,251.64,266.41,264.71,265.28,279.89,284.04,275.55,205.43,205.08,188.87,186.59,222.43,219.78,201.51,150.10
10362,United States,Total final energy (PJ),Basic metals [ISIC 24],2150.27,1889.68,1792.33,1813.73,1968.92,1710.73,1606.09,1679.71,1679.31,1130.71,1430.27,1642.84,1685.63,1644.68,1629.63,1616.42,1437.37
10740,Morocco,Total final energy (PJ),Basic metals [ISIC 24],0.00,0.00,0.00,0.00,5.28,5.67,5.87,5.99,6.47,6.55,6.93,7.29,7.38,7.36,7.26,7.32,7.23
11118,Armenia,Total final energy (PJ),Basic metals [ISIC 24],0.06,0.25,0.42,0.48,0.34,0.35,0.35,0.53,0.45,0.50,0.55,0.57,0.45,0.46,2.07,2.26,2.30
11496,Belarus,Total final energy (PJ),Basic metals [ISIC 24],9.63,9.62,9.65,10.26,11.03,11.20,11.56,11.96,12.66,11.50,12.86,13.33,13.59,12.57,13.12,13.24,12.74
11874,Republic of Moldova,Total final energy (PJ),Basic metals [ISIC 24],0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.00,0.01,0.00,0.00,0.01,0.02,0.01,0.01
12252,Ukraine,Total final energy (PJ),Basic metals [ISIC 24],914.85,931.68,908.37,912.20,1239.26,1127.64,1091.64,1278.32,1169.09,951.74,1003.47,1041.56,986.42,902.83,771.33,694.30,682.22

In [7]:
years_hist=range(2010,2017)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2010: 298.8360606060605,
 2011: 311.730606060606,
 2012: 308.9990909090909,
 2013: 302.60818181818183,
 2014: 300.27606060606064,
 2015: 292.5993939393939,
 2016: 284.0854545454545}

In [8]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

                    sub_region  Year     meanEEI
0    Australia and New Zealand  2010  282.590000
1    Australia and New Zealand  2011  283.950000
2    Australia and New Zealand  2012  277.355000
3    Australia and New Zealand  2013  275.940000
4    Australia and New Zealand  2014  271.795000
..                         ...   ...         ...
149             Western Europe  2012  201.932857
150             Western Europe  2013  200.484286
151             Western Europe  2014  198.322857
152             Western Europe  2015  199.731429
153             Western Europe  2016  198.914286

[70 rows x 3 columns]

In [9]:
#### HISTORICAL ######
iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_metals
0,Bahrain,BHR,2010,0
1,Bahrain,BHR,2011,0
2,Bahrain,BHR,2012,0
3,Bahrain,BHR,2013,0
4,Bahrain,BHR,2014,0
...,...,...,...,...
1332,South Sudan,SSD,2012,0
1333,South Sudan,SSD,2013,0
1334,South Sudan,SSD,2014,0
1335,South Sudan,SSD,2015,0
1336,South Sudan,SSD,2016,0

In [10]:
for c,y in zip(df_historical_out['iso_code3'].values,df_historical_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_metals
0,Bahrain,BHR,2010,0.151254
1,Bahrain,BHR,2011,0.213922
2,Bahrain,BHR,2012,0.242902
3,Bahrain,BHR,2013,0.216975
4,Bahrain,BHR,2014,0.205914
...,...,...,...,...
1332,South Sudan,SSD,2012,85.938770
1333,South Sudan,SSD,2013,13.843934
1334,South Sudan,SSD,2014,11.393674
1335,South Sudan,SSD,2015,5.960546
1336,South Sudan,SSD,2016,11.262271

In [11]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_metals
0,Bahrain,BHR,2017,0
1,Bahrain,BHR,2018,0
2,Bahrain,BHR,2019,0
3,Bahrain,BHR,2020,0
4,Bahrain,BHR,2021,0
...,...,...,...,...
6489,South Sudan,SSD,2046,0
6490,South Sudan,SSD,2047,0
6491,South Sudan,SSD,2048,0
6492,South Sudan,SSD,2049,0
6493,South Sudan,SSD,2050,0

In [12]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['iso_code3'].values,df_projected_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y_hist_max)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y_hist_max), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y_hist_max]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_metals
0,Bahrain,BHR,2017,0.162074
1,Bahrain,BHR,2018,0.135555
2,Bahrain,BHR,2019,0.130764
3,Bahrain,BHR,2020,0.126963
4,Bahrain,BHR,2021,0.126963
...,...,...,...,...
6489,South Sudan,SSD,2046,0.000620
6490,South Sudan,SSD,2047,0.000419
6491,South Sudan,SSD,2048,0.000283
6492,South Sudan,SSD,2049,0.000191
6493,South Sudan,SSD,2050,0.000129

In [13]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [14]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')