In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect
import pandas as pd
import numpy as np


parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_recycled_plastic'

In [2]:
CircularEc_folder = 'frac_waso_recycled_plastic'
df_frac_hist = pd.read_csv(grandparentdir+'/frac_recycled/'
                           +CircularEc_folder+'/input_to_sisepuede/historical/'
                           +CircularEc_folder+'.csv')

df_frac_proj = pd.read_csv(grandparentdir+'/frac_recycled/'
                           +CircularEc_folder+'/input_to_sisepuede/projected/'
                           +CircularEc_folder+'.csv')

iso3 = list(set(df_frac_hist['iso_code3'].values))

years_all = range(min(df_frac_hist['Year'].values),max(df_frac_proj['Year'].values)+1)
c_y_frac = []
for c in iso3:
    for y in years_all:
    
        try:
            frac = df_frac_hist.loc[(df_frac_hist['iso_code3']==c) & (df_frac_hist['Year']==y),][CircularEc_folder].values[0]
            
        except:
            frac = df_frac_proj.loc[(df_frac_proj['iso_code3']==c) & (df_frac_proj['Year']==y)][CircularEc_folder].values[0]
            
        c_y_frac.append([c,y,frac])

df_frac_all = pd.DataFrame(c_y_frac,columns=['iso_code3', 'Year', CircularEc_folder])
df_frac_all

     iso_code3  Year  frac_waso_recycled_plastic
0          DMA  2010                    0.121861
1          DMA  2011                    0.121861
2          DMA  2012                    0.121861
3          DMA  2013                    0.121861
4          DMA  2014                    0.121861
...        ...   ...                         ...
8892       BLZ  2046                    0.108417
8893       BLZ  2047                    0.108417
8894       BLZ  2048                    0.108417
8895       BLZ  2049                    0.108417
8896       BLZ  2050                    0.108417

[8897 rows x 3 columns]

In [3]:
Production_folder = 'consumpinit_inen_energy_tj_per_tonne_production_plastic'
df_prod_hist = pd.read_csv(grandparentdir+'/'
                           +Production_folder+'/input_to_sisepuede/historical/'
                           +Production_folder+'.csv')

df_prod_proj = pd.read_csv(grandparentdir+'/'
                           +Production_folder+'/input_to_sisepuede/projected/'
                           +Production_folder+'.csv')
hist=[]
for nat,iso3,year in zip(df_prod_hist['Nation'].values,
                         df_prod_hist['iso_code3'].values,
                         df_prod_hist['Year'].values):
    
    prod=df_prod_hist.loc[(df_prod_hist['Nation']==nat) &
                         (df_prod_hist['iso_code3']==iso3) &
                         (df_prod_hist['Year']==year)][Production_folder].values[0]
    
    frac=df_frac_all.loc[(df_frac_all['iso_code3']==iso3) &
                         (df_frac_all['Year']==year)][CircularEc_folder].values[0]
    dato = prod*frac
    
    hist.append([nat,iso3,year,dato])
    
df_historical_out = pd.DataFrame(hist, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_plastic
0,Niger,NER,2010,0.490311
1,Niger,NER,2011,0.373127
2,Niger,NER,2012,0.307783
3,Niger,NER,2013,0.114362
4,Niger,NER,2014,0.196629
...,...,...,...,...
2096,Slovak Republic,SVK,2016,0.001337
2097,Slovak Republic,SVK,2017,0.001346
2098,Slovak Republic,SVK,2018,0.001249
2099,Slovak Republic,SVK,2019,0.001360
2100,Slovak Republic,SVK,2020,0.001130

In [4]:
proj=[]
for nat,iso3,year in zip(df_prod_proj['Nation'].values,
                         df_prod_proj['iso_code3'].values,
                         df_prod_proj['Year'].values):
    
    prod=df_prod_proj.loc[(df_prod_proj['Nation']==nat) &
                         (df_prod_proj['iso_code3']==iso3) &
                         (df_prod_proj['Year']==year)][Production_folder].values[0]
    
    frac=df_frac_all.loc[(df_frac_all['iso_code3']==iso3) &
                         (df_frac_all['Year']==year)][CircularEc_folder].values[0]
    dato = prod*frac
    
    proj.append([nat,iso3,year,dato])
    
df_projected_out = pd.DataFrame(proj, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_plastic
0,Niger,NER,2021,0.190547
1,Niger,NER,2022,0.161081
2,Niger,NER,2023,0.136172
3,Niger,NER,2024,0.115115
4,Niger,NER,2025,0.097314
...,...,...,...,...
5725,Slovak Republic,SVK,2046,0.000790
5726,Slovak Republic,SVK,2047,0.000779
5727,Slovak Republic,SVK,2048,0.000768
5728,Slovak Republic,SVK,2049,0.000757
5729,Slovak Republic,SVK,2050,0.000746

In [5]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [6]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')