In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

# var_name=os.path.basename(parentdir)

# var_name

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries

                    Country Name ISO3
0                          Aruba  ABW
1    Africa Eastern and Southern  AFE
2                    Afghanistan  AFG
3     Africa Western and Central  AFW
4                         Angola  AGO
..                           ...  ...
261                       Kosovo  XKX
262                  Yemen, Rep.  YEM
263                 South Africa  ZAF
264                       Zambia  ZMB
265                     Zimbabwe  ZWE

[266 rows x 2 columns]

In [11]:
#df_freight=pd.read_csv("../row_data/DP_LIVE_18012023235438219.csv")
df_freight=pd.read_csv("../row_data/imputated_freight_data.csv")
df_aviation=pd.read_csv("../row_data/Aviation_freigth_inputed.csv",index_col=0)

df_freight=df_freight.fillna(0)
df_freight

,SUBJECT,LOCATION,TIME,Value,INDICATOR,MEASURE,FREQUENCY
0,COAST,GEO,2019,545.61000,FREIGHTTRANSP,MLN_TONNEKM,A
1,COAST,ABW,2019,12602.74931,FREIGHTTRANSP,MLN_TONNEKM,A
2,COAST,IRQ,2018,38673.63137,FREIGHTTRANSP,MLN_TONNEKM,A
3,COAST,MNE,2017,81.60000,FREIGHTTRANSP,MLN_TONNEKM,A
4,COAST,ETH,2017,23472.87808,FREIGHTTRANSP,MLN_TONNEKM,A
...,...,...,...,...,...,...,...
7079,ROAD,TUR,2018,266502.00000,FREIGHTTRANSP,MLN_TONNEKM,A
7080,ROAD,TUR,2021,311818.00000,FREIGHTTRANSP,MLN_TONNEKM,A
7081,ROAD,TUR,2016,253139.00000,FREIGHTTRANSP,MLN_TONNEKM,A
7082,ROAD,TUR,2019,267579.00000,FREIGHTTRANSP,MLN_TONNEKM,A
7083,ROAD,TUR,2011,203072.00000,FREIGHTTRANSP,MLN_TONNEKM,A

In [12]:
df_aviation

        Nation iso_code3  Year  Aviation (mtkm)
0        Aruba       ABW  2011       530.150719
1        Aruba       ABW  2012       530.812871
2        Aruba       ABW  2013       531.473032
3        Aruba       ABW  2014       532.132309
4        Aruba       ABW  2015       532.791722
...        ...       ...   ...              ...
1815  Zimbabwe       ZWE  2016         0.804947
1816  Zimbabwe       ZWE  2017         0.665035
1817  Zimbabwe       ZWE  2018         0.665035
1818  Zimbabwe       ZWE  2019        15.365996
1819  Zimbabwe       ZWE  2020         9.997246

[1820 rows x 4 columns]

In [4]:
import os

# set the directory path and the prefix string
directory = grandparentdir
prefix = 'frac_trns_mtkm_dem_freight'

frac_mtkm=[]
# iterate over all items in the directory
for item in os.listdir(directory):
    # check if the item is a directory and starts with the prefix
    if os.path.isdir(os.path.join(directory, item)) and item.startswith(prefix):
        frac_mtkm.append(item)
        # print the directory name
        print(item)
frac_mtkm

frac_trns_mtkm_dem_freight_water_borne
frac_trns_mtkm_dem_freight_road_heavy_freight
frac_trns_mtkm_dem_freight_rail_freight
frac_trns_mtkm_dem_freight_aviation

['frac_trns_mtkm_dem_freight_water_borne',
 'frac_trns_mtkm_dem_freight_road_heavy_freight',
 'frac_trns_mtkm_dem_freight_rail_freight',
 'frac_trns_mtkm_dem_freight_aviation']

In [41]:
nation_in_df=sorted(set(df_freight['LOCATION'].unique()).intersection(set(df_aviation['iso_code3'].unique())))
years_hist=np.arange(2011,2021)
df_all=df_aviation.copy()
for count in nation_in_df:
    for year in years_hist:
        try:
            RAIL_data=df_freight.loc[(df_freight['LOCATION']==count) &
                                 (df_freight['TIME']==year) &
                   (df_freight['SUBJECT']=='RAIL')
                  ]['Value'].values[0]
        except:

            RAIL_data=0

        try:
            ROAD_data=df_freight.loc[(df_freight['LOCATION']==count) &
                                 (df_freight['TIME']==year) &
                   (df_freight['SUBJECT']=='ROAD')
                  ]['Value'].values[0]
        except:
            ROAD_data=0

        try:
            INLAND_data=df_freight.loc[(df_freight['LOCATION']==count) &
                                 (df_freight['TIME']==year) &
                   (df_freight['SUBJECT']=='INLAND')
                  ]['Value'].values[0]
        except:
            INLAND_data=0

        try:
            COAST_data=df_freight.loc[(df_freight['LOCATION']==count) &
                                 (df_freight['TIME']==year) &
                   (df_freight['SUBJECT']=='COAST')
                  ]['Value'].values[0]
        except:
            COAST_data=0

        df_all.loc[(df_all['iso_code3']==count)&
               (df_all['Year']==year),'RAIL']=RAIL_data
        df_all.loc[(df_all['iso_code3']==count)&
               (df_all['Year']==year),'ROAD']=ROAD_data
        df_all.loc[(df_all['iso_code3']==count)&
               (df_all['Year']==year),'INLAND']=INLAND_data
        df_all.loc[(df_all['iso_code3']==count)&
               (df_all['Year']==year),'COAST']=COAST_data
    
df_all.dropna(axis=0, how='any',inplace=True)

In [42]:
df_all['Total']=df_all.apply(lambda row: row['Aviation (mtkm)']+
                            row['RAIL']+row['ROAD']+row['INLAND']+row['COAST'],axis=1)
df_all

,Nation,iso_code3,Year,Aviation (mtkm),RAIL,ROAD,INLAND,COAST,Total
0,Aruba,ABW,2011,530.150719,14579.06049,27256.50440,36764.587330,9508.082929,88638.385868
1,Aruba,ABW,2012,530.812871,14593.10453,27282.76065,36800.002740,9517.242087,88723.922878
2,Aruba,ABW,2013,531.473032,19324.21561,10821.83883,9731.182906,12602.749310,53011.459688
3,Aruba,ABW,2014,532.132309,19324.46883,10821.83883,9731.182906,12602.914450,53012.537325
4,Aruba,ABW,2015,532.791722,19323.63863,10821.83883,9731.182906,12602.373020,53011.825108
...,...,...,...,...,...,...,...,...,...
1815,Zimbabwe,ZWE,2016,0.804947,11320.40291,21164.23153,28547.103000,7382.871464,68415.413851
1816,Zimbabwe,ZWE,2017,0.665035,11293.83031,21114.55232,28480.093830,7365.541508,68254.683003
1817,Zimbabwe,ZWE,2018,0.665035,11265.96610,21062.45836,28409.827550,7347.369195,68086.286240
1818,Zimbabwe,ZWE,2019,15.365996,11235.64860,21005.77782,28333.374740,7327.596915,67917.764071
1819,Zimbabwe,ZWE,2020,9.997246,11201.76574,20942.43160,28247.930990,7305.499395,67707.624971

In [43]:
# set the directory path and the prefix string
directory = grandparentdir
prefix = 'frac_trns_mtkm_dem_freight'

frac_mtkm=[]
# iterate over all items in the directory
for item in os.listdir(directory):
    # check if the item is a directory and starts with the prefix
    if os.path.isdir(os.path.join(directory, item)) and item.startswith(prefix):
        frac_mtkm.append(item)
        # print the directory name
        print(item)
frac_mtkm

frac_trns_mtkm_dem_freight_water_borne
frac_trns_mtkm_dem_freight_road_heavy_freight
frac_trns_mtkm_dem_freight_rail_freight
frac_trns_mtkm_dem_freight_aviation

['frac_trns_mtkm_dem_freight_water_borne',
 'frac_trns_mtkm_dem_freight_road_heavy_freight',
 'frac_trns_mtkm_dem_freight_rail_freight',
 'frac_trns_mtkm_dem_freight_aviation']

In [45]:
df_all['frac_trns_mtkm_dem_freight_water_borne']=df_all.apply(lambda row: 
    row['COAST']/row['Total'] if row['Total'] !=0 else 0 ,axis=1)
df_all['frac_trns_mtkm_dem_freight_road_heavy_freight']=df_all.apply(lambda row: 
    (row['ROAD']+row['INLAND'])/row['Total'] if row['Total'] !=0 else 0 ,axis=1)
df_all['frac_trns_mtkm_dem_freight_rail_freight']=df_all.apply(lambda row: 
    (row['RAIL'])/row['Total'] if row['Total'] !=0 else 0 ,axis=1)
df_all['frac_trns_mtkm_dem_freight_aviation']=df_all.apply(lambda row: 
    (row['Aviation (mtkm)'])/row['Total'] if row['Total'] !=0 else 0 ,axis=1)


df_all

,Nation,iso_code3,Year,Aviation (mtkm),RAIL,ROAD,INLAND,COAST,Total,frac_trns_mtkm_dem_freight_water_borne,frac_trns_mtkm_dem_freight_road_heavy_freight,frac_trns_mtkm_dem_freight_rail_freight,frac_trns_mtkm_dem_freight_aviation
0,Aruba,ABW,2011,530.150719,14579.06049,27256.50440,36764.587330,9508.082929,88638.385868,0.107268,0.722273,0.164478,0.005981
1,Aruba,ABW,2012,530.812871,14593.10453,27282.76065,36800.002740,9517.242087,88723.922878,0.107268,0.722272,0.164478,0.005983
2,Aruba,ABW,2013,531.473032,19324.21561,10821.83883,9731.182906,12602.749310,53011.459688,0.237736,0.387709,0.364529,0.010026
3,Aruba,ABW,2014,532.132309,19324.46883,10821.83883,9731.182906,12602.914450,53012.537325,0.237735,0.387701,0.364526,0.010038
4,Aruba,ABW,2015,532.791722,19323.63863,10821.83883,9731.182906,12602.373020,53011.825108,0.237728,0.387706,0.364516,0.010050
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1815,Zimbabwe,ZWE,2016,0.804947,11320.40291,21164.23153,28547.103000,7382.871464,68415.413851,0.107912,0.726610,0.165466,0.000012
1816,Zimbabwe,ZWE,2017,0.665035,11293.83031,21114.55232,28480.093830,7365.541508,68254.683003,0.107913,0.726612,0.165466,0.000010
1817,Zimbabwe,ZWE,2018,0.665035,11265.96610,21062.45836,28409.827550,7347.369195,68086.286240,0.107913,0.726612,0.165466,0.000010
1818,Zimbabwe,ZWE,2019,15.365996,11235.64860,21005.77782,28333.374740,7327.596915,67917.764071,0.107889,0.726454,0.165430,0.000226
1819,Zimbabwe,ZWE,2020,9.997246,11201.76574,20942.43160,28247.930990,7305.499395,67707.624971,0.107898,0.726511,0.165443,0.000148

In [63]:
df_all[df_all['Nation'].str.startswith('Ar')]

,Nation,iso_code3,Year,Aviation (mtkm),RAIL,ROAD,INLAND,COAST,Total,frac_trns_mtkm_dem_freight_water_borne,frac_trns_mtkm_dem_freight_road_heavy_freight,frac_trns_mtkm_dem_freight_rail_freight,frac_trns_mtkm_dem_freight_aviation
0,Aruba,ABW,2011,530.150719,14579.06049,27256.504400,36764.587330,9508.082929,8.863839e+04,0.107268,0.722273,0.164478,0.005981
1,Aruba,ABW,2012,530.812871,14593.10453,27282.760650,36800.002740,9517.242087,8.872392e+04,0.107268,0.722272,0.164478,0.005983
2,Aruba,ABW,2013,531.473032,19324.21561,10821.838830,9731.182906,12602.749310,5.301146e+04,0.237736,0.387709,0.364529,0.010026
3,Aruba,ABW,2014,532.132309,19324.46883,10821.838830,9731.182906,12602.914450,5.301254e+04,0.237735,0.387701,0.364526,0.010038
4,Aruba,ABW,2015,532.791722,19323.63863,10821.838830,9731.182906,12602.373020,5.301183e+04,0.237728,0.387706,0.364516,0.010050
5,Aruba,ABW,2016,532.650740,19323.97855,10821.838830,9731.182906,12602.594700,5.301225e+04,0.237730,0.387703,0.364519,0.010048
6,Aruba,ABW,2017,532.509551,19324.32126,10821.838830,9731.182906,12602.818210,5.301267e+04,0.237732,0.387700,0.364523,0.010045
7,Aruba,ABW,2018,532.367838,19324.67080,10821.838830,9731.182906,12603.046170,5.301311e+04,0.237735,0.387697,0.364526,0.010042
8,Aruba,ABW,2019,532.225757,19324.21561,10821.838830,9731.182906,12602.749310,5.301221e+04,0.237733,0.387704,0.364524,0.010040
9,Aruba,ABW,2020,532.083130,19324.21561,10821.838830,9731.182906,12602.749310,5.301207e+04,0.237734,0.387705,0.364525,0.010037
50,Argentina,ARG,2011,192.201260,12198.00000,176109.385000,419164.709700,116348.573700,7.240129e+05,0.160700,0.822187,0.016848,0.000265
51,Argentina,ARG,2012,180.120460,10583.00000,182898.472800,441030.391600,120532.011400,7.552240e+05,0.159598,0.826151,0.014013,0.000238
52,Argentina,ARG,2013,268.710768,9746.00000,189683.789400,462911.494800,124830.510900,7.874405e+05,0.158527,0.828755,0.012377,0.000341
53,Argentina,ARG,2014,261.608940,8893.00000,196465.973600,484805.406600,129125.249700,8.195512e+05,0.157556,0.831274,0.010851,0.000319
54,Argentina,ARG,2015,243.772567,8274.00000,203241.585500,506726.194200,133452.233600,8.519378e+05,0.156646,0.833356,0.009712,0.000286
55,Argentina,ARG,2016,254.181414,8529.00000,201261.977700,490342.598900,131902.256600,8.322900e+05,0.158481,0.830966,0.010248,0.000305
56,Argentina,ARG,2017,305.102000,8377.00000,199275.879200,473985.545100,130288.410100,8.122319e+05,0.160408,0.828903,0.010314,0.000376
57,Argentina,ARG,2018,311.720805,233226.61560,197282.664700,457657.590100,152104.314500,1.040583e+06,0.146172,0.629397,0.224131,0.000300
58,Argentina,ARG,2019,280.283172,229903.09050,195281.849900,441360.714600,149936.798100,1.016763e+06,0.147465,0.626147,0.226113,0.000276
59,Argentina,ARG,2020,81.124230,226575.32380,193271.323600,425103.551100,147766.515500,9.927978e+05,0.148838,0.622861,0.228219,0.000082
60,Armenia,ARM,2011,4.485700,816.00000,287.000000,3573.000000,701.400000,5.381886e+03,0.130326,0.717221,0.151620,0.000833
61,Armenia,ARM,2012,3.011500,867.00000,401.000000,4144.000000,811.800000,6.226812e+03,0.130372,0.729908,0.139237,0.000484
62,Armenia,ARM,2013,0.999996,851.00000,484.000000,4085.000000,813.000000,6.234000e+03,0.130414,0.732916,0.136509,0.000160
63,Armenia,ARM,2014,1.788123,786.00000,544.000000,4167.000000,824.550000,6.323338e+03,0.130398,0.745018,0.124301,0.000283
64,Armenia,ARM,2015,1.788123,640.00000,479.000000,3743.000000,729.300000,5.593088e+03,0.130393,0.754860,0.114427,0.000320
65,Armenia,ARM,2016,1.788123,658.00000,676.000000,3883.000000,782.550000,6.001338e+03,0.130396,0.759664,0.109642,0.000298
66,Armenia,ARM,2017,1.788123,690.00000,725.000000,4256.000000,850.650000,6.523438e+03,0.130399,0.763554,0.105772,0.000274
67,Armenia,ARM,2018,1.788123,14434.19730,513.714286,3978.714286,9413.606933,2.834202e+04,0.332143,0.158508,0.509286,0.000063
68,Armenia,ARM,2019,0.326500,14480.98122,513.714286,3978.714286,9444.118187,2.841785e+04,0.332330,0.158085,0.509573,0.000011
69,Armenia,ARM,2020,0.116920,14527.58214,513.714286,3978.714286,9474.510093,2.849464e+04,0.332502,0.157659,0.509836,0.000004

In [79]:
c_y=[]
for c in df_all['Nation'].unique():
    iso3=df_countries.loc[df_countries['Country Name']==c,'ISO3'].values[0]
    for y in np.arange(max(years_hist)+1,2051):
        c_y.append([c,iso3,y])

df_all_proj=pd.DataFrame(c_y,columns=['Nation','iso_code3','Year'])
        
df_all_proj

        Nation iso_code3  Year
0        Aruba       ABW  2021
1        Aruba       ABW  2022
2        Aruba       ABW  2023
3        Aruba       ABW  2024
4        Aruba       ABW  2025
...        ...       ...   ...
4825  Zimbabwe       ZWE  2046
4826  Zimbabwe       ZWE  2047
4827  Zimbabwe       ZWE  2048
4828  Zimbabwe       ZWE  2049
4829  Zimbabwe       ZWE  2050

[4830 rows x 3 columns]

In [80]:
for ssp_var in frac_mtkm:
    df_all_proj[ssp_var]=0
        
df_all_proj

,Nation,iso_code3,Year,frac_trns_mtkm_dem_freight_water_borne,frac_trns_mtkm_dem_freight_road_heavy_freight,frac_trns_mtkm_dem_freight_rail_freight,frac_trns_mtkm_dem_freight_aviation
0,Aruba,ABW,2021,0,0,0,0
1,Aruba,ABW,2022,0,0,0,0
2,Aruba,ABW,2023,0,0,0,0
3,Aruba,ABW,2024,0,0,0,0
4,Aruba,ABW,2025,0,0,0,0
...,...,...,...,...,...,...,...
4825,Zimbabwe,ZWE,2046,0,0,0,0
4826,Zimbabwe,ZWE,2047,0,0,0,0
4827,Zimbabwe,ZWE,2048,0,0,0,0
4828,Zimbabwe,ZWE,2049,0,0,0,0
4829,Zimbabwe,ZWE,2050,0,0,0,0

In [83]:
for ssp_var in frac_mtkm:
    for c in df_all['Nation'].unique():
        for y in np.arange(max(years_hist)+1,2051):
            df_all_proj.loc[(df_all_proj['Nation']==c)&
               (df_all_proj['Year']==y),ssp_var]=df_all.loc[(df_all['Nation']==c)&
               (df_all['Year']==max(years_hist))][ssp_var].values[0]
        
df_all_proj

,Nation,iso_code3,Year,frac_trns_mtkm_dem_freight_water_borne,frac_trns_mtkm_dem_freight_road_heavy_freight,frac_trns_mtkm_dem_freight_rail_freight,frac_trns_mtkm_dem_freight_aviation
0,Aruba,ABW,2021,0.237734,0.387705,0.364525,0.010037
1,Aruba,ABW,2022,0.237734,0.387705,0.364525,0.010037
2,Aruba,ABW,2023,0.237734,0.387705,0.364525,0.010037
3,Aruba,ABW,2024,0.237734,0.387705,0.364525,0.010037
4,Aruba,ABW,2025,0.237734,0.387705,0.364525,0.010037
...,...,...,...,...,...,...,...
4825,Zimbabwe,ZWE,2046,0.107898,0.726511,0.165443,0.000148
4826,Zimbabwe,ZWE,2047,0.107898,0.726511,0.165443,0.000148
4827,Zimbabwe,ZWE,2048,0.107898,0.726511,0.165443,0.000148
4828,Zimbabwe,ZWE,2049,0.107898,0.726511,0.165443,0.000148
4829,Zimbabwe,ZWE,2050,0.107898,0.726511,0.165443,0.000148

In [86]:
for ssp_var in frac_mtkm:
    df_all.to_csv(grandparentdir+'/'+ssp_var+"/input_to_sisepuede/historical/"+ssp_var+".csv")
    df_all_proj.to_csv(grandparentdir+'/'+ssp_var+"/input_to_sisepuede/projected/"+ssp_var+".csv")