In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_glass'

In [2]:
import pandas as pd
import numpy as np

df_countries=pd.read_csv("../row_data/Countries_ISO3.csv")
df_countries
df_country_continent = pd.read_csv("../row_data/countryContinent.csv",encoding="ISO-8859-1")
df_country_continent.dropna(how='any')
df_country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [3]:
IPPU_folder = 'prodinit_ippu_glass_tonne'
IPPU_var = 'prodinit_ippu_glass_tonne'
df_ippu_hist = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/historical/'+IPPU_var+'.csv')
df_ippu_proj = pd.read_csv(grandparentdir+'/IPPU/'+IPPU_folder+'/input_to_sisepuede/projected/'+IPPU_var+'.csv')

code_ippu = list(set(df_ippu_proj['location_code'].values))

years_all = range(min(df_ippu_hist['year'].values),max(df_ippu_proj['year'].values)+1)
c_y_ippu = []
for c in code_ippu:
    for y in years_all:
    
        try:
            ippu = df_ippu_hist.loc[(df_ippu_hist['location_code']==c) & (df_ippu_hist['year']==y),][IPPU_var].values[0]
            
        except:
            ippu = df_ippu_proj.loc[(df_ippu_proj['location_code']==c) & (df_ippu_proj['year']==y)][IPPU_var].values[0]
            
        c_y_ippu.append([c,y,ippu])

df_ippu_all = pd.DataFrame(c_y_ippu,columns=['iso_code3', 'Year', IPPU_var])
df_ippu_all

     iso_code3  Year  prodinit_ippu_glass_tonne
0          CHE  2010              180945.789315
1          CHE  2011              185974.184459
2          CHE  2012              166028.803980
3          CHE  2013              153721.705642
4          CHE  2014              179465.259051
...        ...   ...                        ...
7826       BTN  2046              194249.316708
7827       BTN  2047              245464.370654
7828       BTN  2048              310182.595653
7829       BTN  2049              391964.187673
7830       BTN  2050              495308.010737

[7831 rows x 3 columns]

In [4]:
df_eei=pd.read_csv("../row_data/eei industry.csv")
df_eei

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Australia,Oil and oil products (PJ),"Manufacturing [ISIC 10-18, 20-32]",130.43,106.35,104.18,106.50,118.77,125.35,127.31,128.88,136.56,129.94,136.44,165.71,185.91,158.38,160.02,121.34,106.70
1,Australia,Oil and oil products (PJ),Food and tobacco [ISIC 10-12],5.89,6.00,2.38,2.66,2.75,2.76,2.90,2.99,2.90,5.52,5.04,5.84,6.37,5.89,5.96,5.18,5.04
2,Australia,Oil and oil products (PJ),Textiles and leather [ISIC 13-15],0.48,0.48,0.48,0.48,0.38,0.95,0.95,0.98,0.95,0.77,0.75,0.76,0.75,0.94,0.95,0.77,0.76
3,Australia,Oil and oil products (PJ),Wood and wood products [ISIC 16],0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Australia,Oil and oil products (PJ),Paper pulp and printing [ISIC 17-18],2.56,2.95,1.74,0.64,0.68,0.77,0.82,0.73,0.64,0.49,0.48,0.47,0.67,2.32,2.37,2.57,2.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12469,Ukraine,Steel production (10^6 t),Memo: Coke and refined petroleum products [ISI...,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12470,Ukraine,Steel production (10^6 t),"Agriculture, forestry and fishing [ISIC 01-03]",x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12471,Ukraine,Steel production (10^6 t),Mining [ISIC 05-09],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12472,Ukraine,Steel production (10^6 t),Construction [ISIC 41-43],x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x,x
12473,Ukraine,Steel production (10^6 t),General activity data,31.77,33.11,34.05,36.93,38.74,38.64,40.89,42.83,37.28,29.86,33.43,35.33,32.98,32.77,27.17,22.97,24.22

In [5]:
#Cross Walk with IEA data:
industries_correspondence = {
  'electronics' : (0.5, 'Machinery [ISIC 25-28]'), #Electronics is ISIC 26 and 27, so let's say half of 25-28
  'plastic' : (0.5, 'Rubber and plastic [ISIC 22]'), # SEE BELOW
  'chemicals' : (1.0, 'Chemicals and chemical products [ISIC 20-21]'), #OK
  'cement' : (0.9, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'glass' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'other_product_manufacturing' : (1.0, 'Other manufacturing [ISIC 31-32]'), #OK
  'agriculture_and_livestock' : (1.0, 'Agriculture, forestry and fishing [ISIC 01-03]'), #OK
  'textiles' : (0.5, 'Textiles and leather [ISIC 13-15]'), #SEE BELOW
  'rubber_and_leather' : (0.5, 'Textiles and leather [ISIC 13-15]'), #+ AND 0.5  'Rubber and plastic [ISIC 22]'
  'metals' : (1.0, 'Basic metals [ISIC 24]'), #OK
  'lime_and_carbonite' : (0.05, 'Non-metallic minerals [ISIC 23]'), #FIXED
  'paper' : (1.0, 'Paper pulp and printing [ISIC 17-18]'),
  # REMOVE 'recycled_wood' : (1.0, 'Wood and wood products [ISIC 16]') #I propose we leave this out entirely, unless we are doing all recyclables
}

In [6]:
df_enduse = df_eei.loc[(df_eei['PRODUCT/FLOW']=='Total final energy (PJ)') & 
                       (df_eei['ENDUSE']=='Non-metallic minerals [ISIC 23]')]
df_enduse

,COUNTRY,PRODUCT/FLOW,ENDUSE,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
154,Australia,Total final energy (PJ),Non-metallic minerals [ISIC 23],91.09,92.28,93.55,109.13,109.45,104.88,101.58,114.44,114.88,111.41,114.37,116.59,106.77,99.42,95.21,95.48,95.71
532,Austria,Total final energy (PJ),Non-metallic minerals [ISIC 23],31.05,32.10,35.21,36.27,37.80,37.87,37.30,38.08,39.06,35.28,35.33,35.85,34.98,34.48,35.56,36.28,39.23
910,Belgium,Total final energy (PJ),Non-metallic minerals [ISIC 23],61.91,57.75,56.02,63.55,63.67,52.31,58.58,52.36,61.26,46.72,49.42,61.18,60.65,55.42,59.91,57.96,57.91
1288,Canada,Total final energy (PJ),Non-metallic minerals [ISIC 23],116.49,110.91,116.03,115.77,118.89,115.46,114.81,125.50,104.49,90.51,96.88,106.67,108.48,108.95,105.27,104.17,106.56
1666,Czech Republic,Total final energy (PJ),Non-metallic minerals [ISIC 23],49.47,51.06,48.05,48.07,49.79,49.05,49.82,53.21,52.61,43.22,43.35,43.00,42.25,44.35,42.60,43.96,44.98
2044,Denmark,Total final energy (PJ),Non-metallic minerals [ISIC 23],25.73,25.42,24.14,25.38,26.80,26.15,27.65,28.61,21.48,17.05,16.70,19.14,19.83,18.50,18.53,18.23,19.37
2422,Finland,Total final energy (PJ),Non-metallic minerals [ISIC 23],16.29,16.79,17.14,17.34,18.34,17.84,18.58,18.25,17.99,12.61,13.57,14.43,13.20,12.85,12.19,11.98,12.76
2800,France,Total final energy (PJ),Non-metallic minerals [ISIC 23],172.97,199.87,204.99,198.10,197.34,194.37,196.18,191.82,195.49,170.44,174.84,178.72,173.08,170.96,167.56,159.83,159.05
3178,Germany,Total final energy (PJ),Non-metallic minerals [ISIC 23],325.28,294.87,278.89,285.03,291.74,281.29,287.85,310.63,293.35,265.13,271.51,281.08,270.20,273.46,275.28,262.04,273.76
3556,Greece,Total final energy (PJ),Non-metallic minerals [ISIC 23],53.88,57.41,51.44,46.73,50.52,46.95,46.15,61.90,47.05,35.85,40.57,30.43,28.70,30.44,31.83,30.83,32.50
3934,Hungary,Total final energy (PJ),Non-metallic minerals [ISIC 23],24.80,27.05,27.23,28.17,27.20,27.07,26.06,26.65,27.51,18.98,18.47,18.20,15.84,16.65,18.80,20.35,22.15
4312,Ireland,Total final energy (PJ),Non-metallic minerals [ISIC 23],10.99,10.21,13.06,17.87,22.20,24.59,24.05,24.54,22.14,16.72,13.35,12.71,14.10,13.85,15.98,16.79,17.79
4690,Italy,Total final energy (PJ),Non-metallic minerals [ISIC 23],338.70,319.21,321.78,354.33,369.03,372.34,341.35,340.08,344.07,248.81,249.02,244.58,225.92,208.68,187.85,208.11,193.51
5068,Japan,Total final energy (PJ),Non-metallic minerals [ISIC 23],506.89,486.40,480.34,469.16,445.27,439.89,441.06,422.62,394.08,351.55,357.37,366.06,365.97,375.72,360.64,348.28,353.12
5446,Korea,Total final energy (PJ),Non-metallic minerals [ISIC 23],231.69,235.24,244.89,262.62,247.23,222.88,240.41,242.25,252.60,228.49,236.97,254.48,232.03,235.14,237.84,237.73,232.66
5824,Luxembourg,Total final energy (PJ),Non-metallic minerals [ISIC 23],8.35,8.61,7.26,5.79,7.00,7.06,7.29,6.45,6.53,6.33,6.44,6.95,6.73,5.64,6.56,6.21,6.30
6202,Mexico,Total final energy (PJ),Non-metallic minerals [ISIC 23],144.24,149.50,155.97,146.66,170.59,181.37,201.72,213.14,199.96,184.43,177.46,188.03,184.61,178.01,195.76,209.65,217.04
6580,Netherlands,Total final energy (PJ),Non-metallic minerals [ISIC 23],36.27,35.60,31.45,31.43,31.60,32.01,32.04,33.61,33.27,30.18,31.16,27.56,25.54,23.76,23.90,24.11,25.10
6958,New Zealand,Total final energy (PJ),Non-metallic minerals [ISIC 23],7.29,7.30,7.42,7.44,7.69,8.19,7.92,8.88,8.20,6.54,6.57,5.87,5.51,8.50,8.13,7.54,5.87
7336,Poland,Total final energy (PJ),Non-metallic minerals [ISIC 23],108.03,98.78,93.59,98.12,104.45,105.33,107.20,122.38,110.70,106.82,113.69,125.17,112.88,106.60,109.99,110.42,121.83
7714,Portugal,Total final energy (PJ),Non-metallic minerals [ISIC 23],88.26,87.03,92.96,76.63,75.21,77.55,75.77,78.69,73.23,63.13,67.17,63.57,45.21,45.42,49.37,47.04,42.80
8092,Slovak Republic,Total final energy (PJ),Non-metallic minerals [ISIC 23],21.87,23.25,20.96,20.13,17.14,20.87,19.32,20.84,19.11,15.66,15.68,16.68,14.29,16.20,17.73,18.20,19.24
8470,Spain,Total final energy (PJ),Non-metallic minerals [ISIC 23],266.61,295.03,259.33,308.47,287.64,315.13,276.98,281.84,262.27,187.09,190.03,194.13,157.51,139.05,136.48,138.62,136.58
8848,Sweden,Total final energy (PJ),Non-metallic minerals [ISIC 23],21.09,21.33,20.79,18.63,19.54,18.80,19.94,19.69,19.07,16.60,18.72,19.79,18.93,14.81,14.26,16.25,14.85
9226,Switzerland,Total final energy (PJ),Non-metallic minerals [ISIC 23],20.94,21.17,17.08,17.95,18.59,18.10,20.72,20.30,20.27,20.39,21.08,20.35,19.13,18.58,20.56,18.42,19.77
9604,Turkey,Total final energy (PJ),Non-metallic minerals [ISIC 23],92.83,82.78,79.33,102.10,133.28,126.76,136.15,145.94,195.81,175.97,228.69,238.11,241.31,221.05,233.39,230.38,243.98
9982,United Kingdom,Total final energy (PJ),Non-metallic minerals [ISIC 23],139.64,138.37,130.74,132.18,124.96,142.55,138.41,136.73,137.29,120.73,120.63,113.63,111.05,117.46,113.91,107.48,103.65
10360,United States,Total final energy (PJ),Non-metallic minerals [ISIC 23],1083.51,1051.59,1052.84,1058.51,1105.21,1099.00,960.80,949.17,878.05,652.64,706.43,733.20,744.72,766.29,774.57,800.28,769.00
10738,Morocco,Total final energy (PJ),Non-metallic minerals [ISIC 23],3.02,6.53,6.88,7.29,39.52,41.51,43.96,45.72,48.30,48.95,51.27,59.78,62.72,64.07,56.02,56.59,54.88
11116,Armenia,Total final energy (PJ),Non-metallic minerals [ISIC 23],0.23,0.22,0.28,0.36,0.57,0.59,0.76,0.69,0.80,0.62,0.62,0.59,0.56,0.50,4.20,3.15,2.68
11494,Belarus,Total final energy (PJ),Non-metallic minerals [ISIC 23],35.02,35.77,35.19,40.15,44.61,46.29,47.40,50.78,54.32,50.44,53.73,51.22,54.54,54.24,54.02,41.56,39.13
11872,Republic of Moldova,Total final energy (PJ),Non-metallic minerals [ISIC 23],0.43,1.25,0.74,0.87,1.07,6.06,5.80,5.71,4.71,2.89,3.49,3.72,4.17,4.60,2.97,3.72,2.95
12250,Ukraine,Total final energy (PJ),Non-metallic minerals [ISIC 23],10.04,9.10,9.75,10.95,107.99,120.89,125.05,141.30,141.81,64.35,74.41,84.11,65.42,63.96,52.30,49.50,50.30

In [7]:
years_hist=range(2010,2017)
golbal_mean={}
for y in years_hist:
    m=[float(val) for val in df_enduse[str(y)].values]
    golbal_mean[y]=np.mean(m)
golbal_mean

{2010: 109.66636363636363,
 2011: 113.19939393939396,
 2012: 108.69181818181818,
 2013: 107.50333333333333,
 2014: 107.24757575757576,
 2015: 107.30727272727272,
 2016: 107.18212121212122}

In [8]:
sub_continents = ['Australia and New Zealand',
 'Caribbean',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Melanesia',
 'Micronesia',
 'Middle Africa',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Polynesia',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']
coun_year=[]
for cont in sub_continents:
    for year in years_hist:
        coun_year.append([cont,year,0])
        
df_meanEEI = pd.DataFrame(coun_year, columns=['sub_region', 'Year','meanEEI'])

for year in years_hist:
    for cont in sub_continents:
        set1 = set(df_country_continent.loc[df_country_continent['sub_region']== cont]['country'].values)
        set2 = set(df_enduse['COUNTRY'].values)

        common_countries = set1.intersection(set2)
        #print(cont,common_countries)
        mean_array=[]
        for count in common_countries:
            mean_array.append(float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(year)].values[0]))
        if mean_array == []:
            mean_array = [0]
        #print(mean_array)
        df_meanEEI.loc[(df_meanEEI['sub_region']==cont) & (df_meanEEI['Year']==year),'meanEEI']=np.mean(mean_array)
    
df_meanEEI.dropna(how='any')
df_meanEEI = df_meanEEI.drop(df_meanEEI.index[(df_meanEEI == 0).any(axis=1)])

df_meanEEI

                    sub_region  Year    meanEEI
0    Australia and New Zealand  2010  60.470000
1    Australia and New Zealand  2011  61.230000
2    Australia and New Zealand  2012  56.140000
3    Australia and New Zealand  2013  53.960000
4    Australia and New Zealand  2014  51.670000
..                         ...   ...        ...
149             Western Europe  2012  84.330000
150             Western Europe  2013  83.185714
151             Western Europe  2014  84.190000
152             Western Europe  2015  80.692857
153             Western Europe  2016  83.017143

[70 rows x 3 columns]

In [9]:
#### HISTORICAL ######
iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_hist:
        coun_year.append([count,iso3,year,0])
df_historical_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_glass
0,Switzerland,CHE,2010,0
1,Switzerland,CHE,2011,0
2,Switzerland,CHE,2012,0
3,Switzerland,CHE,2013,0
4,Switzerland,CHE,2014,0
...,...,...,...,...
1332,Bhutan,BTN,2012,0
1333,Bhutan,BTN,2013,0
1334,Bhutan,BTN,2014,0
1335,Bhutan,BTN,2015,0
1336,Bhutan,BTN,2016,0

In [10]:
fraction = 0.05
for c,y in zip(df_historical_out['iso_code3'].values,df_historical_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_historical_out.loc[(df_historical_out['iso_code3'] == c) & 
                        (df_historical_out['Year']== y), var_name] = dato*fraction
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_glass
0,Switzerland,CHE,2010,0.005825
1,Switzerland,CHE,2011,0.005471
2,Switzerland,CHE,2012,0.005761
3,Switzerland,CHE,2013,0.006043
4,Switzerland,CHE,2014,0.005728
...,...,...,...,...
1332,Bhutan,BTN,2012,33.595431
1333,Bhutan,BTN,2013,46.689786
1334,Bhutan,BTN,2014,101.216681
1335,Bhutan,BTN,2015,52.650954
1336,Bhutan,BTN,2016,31.429215

In [11]:
#### Projected ######

years_proj=range(max(years_hist)+1,2051)

iso3 = set(df_ippu_all['iso_code3'].values)
coun_year=[]
for iso3 in iso3:
    count = df_countries.loc[df_countries['ISO3']==iso3]['Country Name'].values[0]
    for year in years_proj:
        coun_year.append([count,iso3,year,0])
        
df_projected_out = pd.DataFrame(coun_year, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out[var_name]=0
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_glass
0,Switzerland,CHE,2017,0
1,Switzerland,CHE,2018,0
2,Switzerland,CHE,2019,0
3,Switzerland,CHE,2020,0
4,Switzerland,CHE,2021,0
...,...,...,...,...
6489,Bhutan,BTN,2046,0
6490,Bhutan,BTN,2047,0
6491,Bhutan,BTN,2048,0
6492,Bhutan,BTN,2049,0
6493,Bhutan,BTN,2050,0

In [12]:
y_hist_max = max(years_hist)
for c,y in zip(df_projected_out['iso_code3'].values,df_projected_out['Year'].values):
    
    tonne = df_ippu_all.loc[(df_ippu_all['iso_code3']==c)&(df_ippu_all['Year']==y)][IPPU_var].values[0]
    
    count = df_countries.loc[df_countries['ISO3']==c]['Country Name'].values[0]

    if count in df_enduse['COUNTRY'].values:
        
        tj= float(df_enduse.loc[(df_enduse['COUNTRY']==count)][str(y_hist_max)].values[0])*1e3

        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
        
    else:
        try:
            cont = df_country_continent.loc[df_country_continent['country']== count]['sub_region'].values[0]
            tj = df_meanEEI.loc[(df_meanEEI['sub_region'] == cont) & 
                            (df_meanEEI['Year']== y_hist_max), 'meanEEI'].values[0]*1e3
            
        except:
            tj=golbal_mean[y_hist_max]*1e3
            
        if tonne!=0:
            dato=tj/tonne
        else:
            print(count,y,IPPU_var+f'={tonne}')
            dato=0
        
        df_projected_out.loc[(df_projected_out['iso_code3'] == c) & 
                        (df_projected_out['Year']== y), var_name] = dato*fraction
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_glass
0,Switzerland,CHE,2017,0.006288
1,Switzerland,CHE,2018,0.005970
2,Switzerland,CHE,2019,0.006198
3,Switzerland,CHE,2020,0.007002
4,Switzerland,CHE,2021,0.007002
...,...,...,...,...
6489,Bhutan,BTN,2046,0.027589
6490,Bhutan,BTN,2047,0.021833
6491,Bhutan,BTN,2048,0.017277
6492,Bhutan,BTN,2049,0.013672
6493,Bhutan,BTN,2050,0.010820

In [13]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [14]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')