In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect
import pandas as pd
import numpy as np


parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_recycled_paper'

In [2]:
CircularEc_folder = 'frac_waso_recycled_paper'
df_frac_hist = pd.read_csv(grandparentdir+'/frac_recycled/'
                           +CircularEc_folder+'/input_to_sisepuede/historical/'
                           +CircularEc_folder+'.csv')

df_frac_proj = pd.read_csv(grandparentdir+'/frac_recycled/'
                           +CircularEc_folder+'/input_to_sisepuede/projected/'
                           +CircularEc_folder+'.csv')

iso3 = list(set(df_frac_hist['iso_code3'].values))

years_all = range(min(df_frac_hist['Year'].values),max(df_frac_proj['Year'].values)+1)
c_y_frac = []
for c in iso3:
    for y in years_all:
    
        try:
            frac = df_frac_hist.loc[(df_frac_hist['iso_code3']==c) & (df_frac_hist['Year']==y),][CircularEc_folder].values[0]
            
        except:
            frac = df_frac_proj.loc[(df_frac_proj['iso_code3']==c) & (df_frac_proj['Year']==y)][CircularEc_folder].values[0]
            
        c_y_frac.append([c,y,frac])

df_frac_all = pd.DataFrame(c_y_frac,columns=['iso_code3', 'Year', CircularEc_folder])
df_frac_all

     iso_code3  Year  frac_waso_recycled_paper
0          CIV  2010                      0.03
1          CIV  2011                      0.03
2          CIV  2012                      0.03
3          CIV  2013                      0.03
4          CIV  2014                      0.03
...        ...   ...                       ...
8892       GRC  2046                      0.19
8893       GRC  2047                      0.19
8894       GRC  2048                      0.19
8895       GRC  2049                      0.19
8896       GRC  2050                      0.19

[8897 rows x 3 columns]

In [3]:
Production_folder = 'consumpinit_inen_energy_tj_per_tonne_production_paper'
df_prod_hist = pd.read_csv(grandparentdir+'/'
                           +Production_folder+'/input_to_sisepuede/historical/'
                           +Production_folder+'.csv')

df_prod_proj = pd.read_csv(grandparentdir+'/'
                           +Production_folder+'/input_to_sisepuede/projected/'
                           +Production_folder+'.csv')
hist=[]
for nat,iso3,year in zip(df_prod_hist['Nation'].values,
                         df_prod_hist['iso_code3'].values,
                         df_prod_hist['Year'].values):
    
    prod=df_prod_hist.loc[(df_prod_hist['Nation']==nat) &
                         (df_prod_hist['iso_code3']==iso3) &
                         (df_prod_hist['Year']==year)][Production_folder].values[0]
    
    frac=df_frac_all.loc[(df_frac_all['iso_code3']==iso3) &
                         (df_frac_all['Year']==year)][CircularEc_folder].values[0]
    dato = prod*frac
    
    hist.append([nat,iso3,year,dato])
    
df_historical_out = pd.DataFrame(hist, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_paper
0,Iceland,ISL,2010,1.300036
1,Iceland,ISL,2011,1.256232
2,Iceland,ISL,2012,1.376276
3,Iceland,ISL,2013,1.227804
4,Iceland,ISL,2014,1.086859
...,...,...,...,...
1332,"Egypt, Arab Rep.",EGY,2012,0.006338
1333,"Egypt, Arab Rep.",EGY,2013,0.006939
1334,"Egypt, Arab Rep.",EGY,2014,0.006137
1335,"Egypt, Arab Rep.",EGY,2015,0.005791
1336,"Egypt, Arab Rep.",EGY,2016,0.004860

In [4]:
proj=[]
for nat,iso3,year in zip(df_prod_proj['Nation'].values,
                         df_prod_proj['iso_code3'].values,
                         df_prod_proj['Year'].values):
    
    prod=df_prod_proj.loc[(df_prod_proj['Nation']==nat) &
                         (df_prod_proj['iso_code3']==iso3) &
                         (df_prod_proj['Year']==year)][Production_folder].values[0]
    
    frac=df_frac_all.loc[(df_frac_all['iso_code3']==iso3) &
                         (df_frac_all['Year']==year)][CircularEc_folder].values[0]
    dato = prod*frac
    
    proj.append([nat,iso3,year,dato])
    
df_projected_out = pd.DataFrame(proj, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_paper
0,Iceland,ISL,2017,1.122701
1,Iceland,ISL,2018,1.105696
2,Iceland,ISL,2019,1.152014
3,Iceland,ISL,2020,1.122117
4,Iceland,ISL,2021,1.122117
...,...,...,...,...
6489,"Egypt, Arab Rep.",EGY,2046,0.001809
6490,"Egypt, Arab Rep.",EGY,2047,0.001726
6491,"Egypt, Arab Rep.",EGY,2048,0.001647
6492,"Egypt, Arab Rep.",EGY,2049,0.001572
6493,"Egypt, Arab Rep.",EGY,2050,0.001501

In [5]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [6]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')