In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect
import pandas as pd
import numpy as np


parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'consumpinit_inen_energy_tj_per_tonne_production_recycled_rubber_and_leather'

In [2]:
CircularEc_folder = 'frac_waso_recycled_rubber_leather'
df_frac_hist = pd.read_csv(grandparentdir+'/frac_recycled/'
                           +CircularEc_folder+'/input_to_sisepuede/historical/'
                           +CircularEc_folder+'.csv')

df_frac_proj = pd.read_csv(grandparentdir+'/frac_recycled/'
                           +CircularEc_folder+'/input_to_sisepuede/projected/'
                           +CircularEc_folder+'.csv')

iso3 = list(set(df_frac_hist['iso_code3'].values))

years_all = range(min(df_frac_hist['Year'].values),max(df_frac_proj['Year'].values)+1)
c_y_frac = []
for c in iso3:
    for y in years_all:
    
        try:
            frac = df_frac_hist.loc[(df_frac_hist['iso_code3']==c) & (df_frac_hist['Year']==y),][CircularEc_folder].values[0]
            
        except:
            frac = df_frac_proj.loc[(df_frac_proj['iso_code3']==c) & (df_frac_proj['Year']==y)][CircularEc_folder].values[0]
            
        c_y_frac.append([c,y,frac])

df_frac_all = pd.DataFrame(c_y_frac,columns=['iso_code3', 'Year', CircularEc_folder])
df_frac_all

     iso_code3  Year  frac_waso_recycled_rubber_leather
0          BRN  2010                           0.270239
1          BRN  2011                           0.270239
2          BRN  2012                           0.270239
3          BRN  2013                           0.270239
4          BRN  2014                           0.270239
...        ...   ...                                ...
8892       CYM  2046                           0.210000
8893       CYM  2047                           0.210000
8894       CYM  2048                           0.210000
8895       CYM  2049                           0.210000
8896       CYM  2050                           0.210000

[8897 rows x 3 columns]

In [3]:
Production_folder = 'consumpinit_inen_energy_tj_per_tonne_production_rubber_and_leather'
df_prod_hist = pd.read_csv(grandparentdir+'/'
                           +Production_folder+'/input_to_sisepuede/historical/'
                           +Production_folder+'.csv')

df_prod_proj = pd.read_csv(grandparentdir+'/'
                           +Production_folder+'/input_to_sisepuede/projected/'
                           +Production_folder+'.csv')
hist=[]
for nat,iso3,year in zip(df_prod_hist['Nation'].values,
                         df_prod_hist['iso_code3'].values,
                         df_prod_hist['Year'].values):
    
    prod=df_prod_hist.loc[(df_prod_hist['Nation']==nat) &
                         (df_prod_hist['iso_code3']==iso3) &
                         (df_prod_hist['Year']==year)][Production_folder].values[0]
    
    frac=df_frac_all.loc[(df_frac_all['iso_code3']==iso3) &
                         (df_frac_all['Year']==year)][CircularEc_folder].values[0]
    dato = prod*frac
    
    hist.append([nat,iso3,year,dato])
    
df_historical_out = pd.DataFrame(hist, columns=['Nation','iso_code3', 'Year',var_name])
df_historical_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_rubber_and_leather
0,Cuba,CUB,2010,0.143654
1,Cuba,CUB,2011,0.161031
2,Cuba,CUB,2012,0.107851
3,Cuba,CUB,2013,0.124789
4,Cuba,CUB,2014,0.114668
...,...,...,...,...
1332,Nicaragua,NIC,2012,0.007829
1333,Nicaragua,NIC,2013,0.008037
1334,Nicaragua,NIC,2014,0.007465
1335,Nicaragua,NIC,2015,0.006208
1336,Nicaragua,NIC,2016,0.006548

In [4]:
proj=[]
for nat,iso3,year in zip(df_prod_proj['Nation'].values,
                         df_prod_proj['iso_code3'].values,
                         df_prod_proj['Year'].values):
    
    prod=df_prod_proj.loc[(df_prod_proj['Nation']==nat) &
                         (df_prod_proj['iso_code3']==iso3) &
                         (df_prod_proj['Year']==year)][Production_folder].values[0]
    
    frac=df_frac_all.loc[(df_frac_all['iso_code3']==iso3) &
                         (df_frac_all['Year']==year)][CircularEc_folder].values[0]
    dato = prod*frac
    
    proj.append([nat,iso3,year,dato])
    
df_projected_out = pd.DataFrame(proj, columns=['Nation','iso_code3', 'Year',var_name])
df_projected_out

,Nation,iso_code3,Year,consumpinit_inen_energy_tj_per_tonne_production_recycled_rubber_and_leather
0,Cuba,CUB,2017,0.118030
1,Cuba,CUB,2018,0.119128
2,Cuba,CUB,2019,0.134474
3,Cuba,CUB,2020,0.136807
4,Cuba,CUB,2021,0.136807
...,...,...,...,...
6489,Nicaragua,NIC,2046,0.001695
6490,Nicaragua,NIC,2047,0.001592
6491,Nicaragua,NIC,2048,0.001495
6492,Nicaragua,NIC,2049,0.001404
6493,Nicaragua,NIC,2050,0.001319

In [5]:
df_historical_out.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')

In [6]:
df_projected_out.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')