In [1]:
#Add parent and grandparent folder to sys.path and get variable name
import os
import sys
import inspect

parentdir = os.path.abspath('..')
grandparentdir=os.path.dirname(parentdir)
sys.path.insert(0, parentdir)
sys.path.insert(0, grandparentdir)

var_name=os.path.basename(parentdir)

var_name

'frac_trns_fuelmix_rail_freight_natural_gas'

In [2]:
import pandas as pd
import numpy as np

df_hist=pd.read_csv('../input_to_sisepuede/historical/'+var_name+'.csv')
df_proj=pd.read_csv('../input_to_sisepuede/projected/'+var_name+'.csv')
df_hist.columns

Index(['Unnamed: 0', 'Nation', 'iso_3', 'Year',
       'frac_trns_fuelmix_rail_freight_natural_gas'],
      dtype='object')

In [3]:
if 'Country' in df_hist.columns:
    df_hist.rename(columns = {'Country':'Nation'}, inplace = True)
if 'Country' in df_proj.columns:
    df_proj.rename(columns = {'Country':'Nation'}, inplace = True)
if 'ISO3' in df_hist.columns:
    df_hist.rename(columns = {'ISO3':'iso_code3'}, inplace = True)
if 'ISO3' in df_proj.columns:
    df_proj.rename(columns = {'ISO3':'iso_code3'}, inplace = True)
    
if 'iso_3' in df_hist.columns:
    df_hist.rename(columns = {'iso_3':'iso_code3'}, inplace = True)
if 'iso_3' in df_proj.columns:
    df_proj.rename(columns = {'iso_3':'iso_code3'}, inplace = True)
    
if 'Unnamed: 0' in df_hist.columns:
    df_hist=df_hist.drop(['Unnamed: 0'],axis=1)
if 'Unnamed: 0' in df_proj.columns:
    df_proj=df_proj.drop(['Unnamed: 0'],axis=1)

In [4]:
df_hist

        Nation iso_code3  Year  frac_trns_fuelmix_rail_freight_natural_gas
0        Aruba       ABW  2000                                         0.0
1        Aruba       ABW  2001                                         0.0
2        Aruba       ABW  2002                                         0.0
3        Aruba       ABW  2003                                         0.0
4        Aruba       ABW  2004                                         0.0
...        ...       ...   ...                                         ...
6113  Zimbabwe       ZWE  2018                                         0.0
6114  Zimbabwe       ZWE  2019                                         0.0
6115  Zimbabwe       ZWE  2020                                         0.0
6116  Zimbabwe       ZWE  2021                                         0.0
6117  Zimbabwe       ZWE  2022                                         0.0

[6118 rows x 4 columns]

In [5]:
df_proj

        Nation iso_code3  Year  frac_trns_fuelmix_rail_freight_natural_gas
0        Aruba       ABW  2023                                         0.0
1        Aruba       ABW  2024                                         0.0
2        Aruba       ABW  2025                                         0.0
3        Aruba       ABW  2026                                         0.0
4        Aruba       ABW  2027                                         0.0
...        ...       ...   ...                                         ...
7443  Zimbabwe       ZWE  2046                                         0.0
7444  Zimbabwe       ZWE  2047                                         0.0
7445  Zimbabwe       ZWE  2048                                         0.0
7446  Zimbabwe       ZWE  2049                                         0.0
7447  Zimbabwe       ZWE  2050                                         0.0

[7448 rows x 4 columns]

In [6]:
df_hist.to_csv('../input_to_sisepuede/historical/'+var_name+'.csv')
df_proj.to_csv('../input_to_sisepuede/projected/'+var_name+'.csv')